<%- include('./common/_head', { pageKey: 'calibration' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'calibration' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'calibration-changing-or-deleting-your-personal-data' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.calibration.changingOrDeletingYourPersonalData.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              Use this operation when you want to change your date of birth (year, month, day), gender, height, and mode in your personal data, or delete personal data on the unit.<br>
You can also change your personal data using the “OMRON connect” app. For details, refer to “Help” section in the “OMRON connect” app.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Turn on the power.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The weight measurement display will appear.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen01-initial-weight.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span>  on the unit to select your personal number.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Select the personal number you want to change or delete.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen09-personal-number.webp" alt="personal number">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to confirm.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The weight measurement display appears.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen48-confirm-personal-number.webp" alt="confirm personal number">
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="confirm icon"></span> on the unit again.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The option to delete or change will appear.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen21-user-setting.webp" alt="user settings">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Select whether to change or delete your personal data.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to select “User settings”, “Display settings”, “Delete data”.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen22-user-setting.webp" alt="user settings">
                </figure>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen23-user-setting.webp" alt="user setting">
                </figure>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen24-user-setting.webp" alt="user setting">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Even if you change the personal data, the readings will not be deleted. When using a personal number that has been used by another person, delete the personal data and then register your personal data again.<br>
    (If you use the “OMRON connect” app, refer to <a href="./calibration-performing-initial-settings-on-the-unit.html" class="p-manual__link">“Perform Initial Settings”</a>. If you do not use the “OMRON connect” app, refer to <a href="./calibration-registering-personal-data-on-the-unit.html" class="p-manual__link">“Registering Personal Data on the Unit”</a>.)
                  </li>
                  <li class="p-manual__step-list-item">
                    Changes made on the main unit or the “OMRON connect” app will be reflected during communication.
                  </li>
                </ul>
              </li>
            </ol>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">
                User settings
              </h3>
              <p class="p-manual__sub-title-text">
                The readings will not be deleted.
              </p>
              <ol class="p-manual__steps p-manual__steps--mt10">
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="confirm icon"></span> on the unit.
                  </h4>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen21-user-setting.webp" alt="user setting">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Set up your personal data.
                  </h4>
                  <ul class="p-manual__personal-data-items">
                    <li class="p-manual__personal-data-item p-birth-date-card">
                      <figure class="p-birth-date-card__image">
                        <img src="./assets/img/common/screen25-birth-date.webp" alt="birth date">
                      </figure>
                      <div class="p-birth-date-card__text-block">
                        <p class="p-birth-date-card__title">
                          Set the “Year” of your date of birth
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the “Year”.<br> 
                          Each time you touch the button, the value will change in increments of one year, and if you continue to touch the button, the value will change in increments of 10 years.
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the year.
                        </p>
                      </div>
                    </li>
                    <li class="p-manual__personal-data-item p-birth-date-card">
                      <figure class="p-birth-date-card__image">
                        <img src="./assets/img/common/screen26-birth-date.webp" alt="birth date">
                      </figure>
                      <div class="p-birth-date-card__text-block">
                        <p class="p-birth-date-card__title">
                          Set the “Month” of your date of birth
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the  “Month”.<br>
                          Each time you touch the button, the value will change in increments of one month, and if you continue to touch the button, the value will change in increments of one month (fast forward).
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the “Month”.
                        </p>
                      </div>
                    </li>
                    <li class="p-manual__personal-data-item p-birth-date-card">
                      <figure class="p-birth-date-card__image">
                        <img src="./assets/img/common/screen27-birth-date.webp" alt="birth date">
                      </figure>
                      <div class="p-birth-date-card__text-block">
                        <p class="p-birth-date-card__title">
                          Set the “Day” of your date of birth
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the  “Day”. 
                          Each time you touch the button, the value will change in increments of one day, and if you continue to touch the button, the value will change in increments of 10 days.
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the “Day”.
                        </p>
                      </div>
                    </li>
                    <li class="p-manual__personal-data-item p-birth-date-card">
                      <figure class="p-birth-date-card__image">
                        <img src="./assets/img/common/screen28-birth-date.webp" alt="birth date">
                      </figure>
                      <div class="p-birth-date-card__text-block">
                        <p class="p-birth-date-card__title">
                          Set your gender
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to select “Male” or “Female”.
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the gender.
                        </p>
                      </div>
                    </li>
                    <li class="p-manual__personal-data-item p-birth-date-card">
                      <figure class="p-birth-date-card__image">
                        <img src="./assets/img/common/screen29-birth-date.webp" alt="birth date">
                      </figure>
                      <div class="p-birth-date-card__text-block">
                        <p class="p-birth-date-card__title">
                          Set your height
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the height. <br>
                          The setting range is 100.0 to 199.5 cm. (In 0.5 cm increments) <br>
                          Each time you touch the button, the value will change in 0.5 cm increments, and if you continue to touch the button, the value will change in 10 cm increments.
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set your height.
                        </p>
                      </div>
                    </li>
                    <li class="p-manual__personal-data-item p-birth-date-card">
                      <figure class="p-birth-date-card__image">
                        <img src="./assets/img/common/screen30-birth-date.webp" alt="birth date">
                      </figure>
                      <div class="p-birth-date-card__text-block">
                        <p class="p-birth-date-card__title">
                          Set the mode
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to select “Normal” or “Athlete”.
                        </p>
                        <p class="p-birth-date-card__text">
                          Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the mode.
                        </p>
                      </div>
                    </li>
                  </ul>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Once you have set your “Mode”, your set “Date of Birth”, “Gender”, “Height”, and “Mode” will be displayed, followed by “0.0 kg” (weight measurement).
                    </li>
                  </ul>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen31-birth-date.webp" alt="birth date">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Taking a measurement.
                  </h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Refer to <a href="./how-to-use-taking-a-measurement.html" class="p-manual__link">“Taking a Measurement”</a>.
                    </li>
                  </ul>
                </li>
              </ol>
            </article>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">Display settings</h3>
              <ol class="p-manual__steps">
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit.
                  </h4>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen32-display-settings.webp" alt="display settings">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Set display indicators.
                  </h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change indicators.
                    </li>
                    <li class="p-manual__step-list-item">
                      Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to confirm.
                    </li>
                    <li class="p-manual__step-list-item">
                      After 10 seconds, the unit will automatically turn off.
                    </li>
                  </ul>
                  <figure class="p-manual__image p-manual__image--measurement-results">
                    <img src="./assets/img/common/screen33-display-settings.webp" alt="display settings">
                  </figure>
                </li>
              </ol>
            </article>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">Display example:</h3>
              <ul class="p-manual__step-list p-manual__step-list--gap30">
                <li class="p-manual__step-list-item">
                  4 indications
                  <figure class="p-manual__image p-manual__image--display-example">
                    <img src="./assets/img/common/display-4-indications.webp" alt="display 4 indications">
                  </figure>
                </li>
                <li class="p-manual__step-list-item">
                  18 indications
                  <figure class="p-manual__image p-manual__image--measurement-results">
                    <img src="./assets/img/common/display-18-indications.webp" alt="display example">
                  </figure>
                </li>
              </ul>
            </article>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">Delete data</h3>
              <p class="p-manual__sub-title-text">The readings will also be deleted.</p>
              <ol class="p-manual__steps">
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit.
                  </h4>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen34-delete-data.webp" alt="delete data">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="confirm icon"></span> on the unit again.
                  </h4>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen35-delete-data.webp" alt="delete data">
                  </figure>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      To cancel the setting, touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></div> on the unit.
                    </li>
                  </ul>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Touch and hold the <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit for more than 3 seconds.
                  </h4>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen36-delete-data.webp" alt="delete data">
                  </figure>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      After 10 seconds, the unit will automatically turn off.
                    </li>
                  </ul>
                </li>
              </ol>
            </article>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./calibration-measuring-without-recording.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--storage">
            <span class="c-btn__text">
              Measuring without Recording
            </span>
          </a>
          <a href="./calibration-replacing-the-batteries.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              <%= json.calibration.replacingTheBatteries.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>