<%- include('./common/_head', { pageKey: 'calibration' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'calibration' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'calibration-measuring-without-recording' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.calibration.measuringWithoutRecording.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              When measuring without recording the readings, select “Guest” for the personal number and set the personal data (date of birth, gender, height, mode) before measuring.<br>
The readings will not be transferred to your smartphone.<br>
It will also not be saved in the unit’s memory.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Turn on the power.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Simply stand on the unit, then the unit will turn on.
                  </li>
                  <li class="p-manual__step-list-item">
                    The weight measurement display will appear.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen01-initial-weight.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span>  on the unit to select "Guest".
                </h3>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen12-guest-mode.webp" alt="guest mode">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to confirm.
                </h3>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Set up your personal data.
                </h3>
                <ul class="p-manual__personal-data-items">
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen13-birth-date.webp" alt="birth date">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the “Year” of your date of birth
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the “Year”.<br> 
                        Each time you touch the button, the value will change in increments of one year, and if you continue to touch the button, the value will change in increments of 10 years.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the year.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen14-birth-date.webp" alt="birth date">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the “Month” of your date of birth
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the  “Month”.<br>
                        Each time you touch the button, the value will change in increments of one month, and if you continue to touch the button, the value will change in increments of one month (fast forward).
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the “Month”.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen15-birth-date.webp" alt="birth date">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the “Day” of your date of birth
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the  “Day”.<br> 
                        Each time you touch the button, the value will change in increments of one day, and if you continue to touch the button, the value will change in increments of 10 days.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the “Day”.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen16-birth-date.webp" alt="birth date">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set your gender
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to select “Male” or “Female”.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the gender.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen17-birth-date.webp" alt="birth date">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set your height
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to change the height. <br>
                        The setting range is 100.0 to 199.5 cm. (In 0.5 cm increments) <br>
                        Each time you touch the button, the value will change in 0.5 cm increments, and if you continue to touch the button, the value will change in 10 cm increments.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set your height.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen18-birth-date.webp" alt="birth date">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the mode
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to select “Normal” or “Athlete”.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to set the mode.
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Once you have set your “Mode”, your set “Date of Birth”, “Gender”, “Height”, and “Mode” will be displayed, followed by “0.0 kg” (weight measurement).
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen19-birth-date.webp" alt="birth date">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  When the “0.0 kg” is displayed, take out the display unit.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Do not take out the display unit until “0.0 kg” appears on the display.<br>Otherwise, the weight of the display is added to your body weight which causes an incorrect result.
                  </li>
                </ul>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Place your feet on the foot electrodes with your weight evenly distributed.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    After the unit makes a “beeping” sound, the display will show your weight.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen20-guest-mode-weight.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Extend your arms straight at a 90° angle to your body.
                </h3>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen04-measurement-pose.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Check the measurement results.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    After the unit makes a “beeping” sound, the display on the unit will repeatedly show the measurement results in sequence.  (The display will change automatically.)
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--measurement-results">
                  <img src="./assets/img/common/measurement_results.webp" alt="">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    After 16 seconds, the unit will automatically turn off.
                  </li>
                  <li class="p-manual__step-list-item">
                    Once you touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></div> on the unit, the display will change every time you touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></div>.<br>
                    Even if you forget to turn off the power, it will automatically turn off after about 3 minutes.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./calibration-transferring-the-readings-later.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--storage">
            <span class="c-btn__text">
              <%= json.calibration.transferringTheReadingsLater.title %>
            </span>
          </a>
          <a href="./calibration-changing-or-deleting-your-personal-data.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              <%= json.calibration.changingOrDeletingYourPersonalData.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>