<%- include('./common/_head', { pageKey: 'calibration' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'calibration' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'calibration-performing-initial-settings-on-the-unit' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.calibration.performingInitialSettingsOnTheUnit.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              You can configure the initial settings on the main unit immediately after purchase or after replacing its batteries.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Turn on the power.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Pairing will be performed if the device is registered using the app.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen38-pairing-settings.webp" alt="initial settings">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit.
                </h3>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Set the date and time.
                </h3>
                <ul class="p-manual__personal-data-items">
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen40-measurement-unit.webp" alt="measurement unit">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the measurement unit
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to select “kg” or “lb” or “st”. <br>
                        This will also automatically change “cm” and “in”. 
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the measurement unit.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen41-setting-year.webp" alt="setting year">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the year
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the “Year”.
                      </p>
                      <p class="p-birth-date-card__text">
                        Each time you touch the button, the value will change in increments of one year, and if you continue to touch the button, the value will change in increments of 10 years.
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span>  to set the “Year”.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen42-setting-month.webp" alt="setting month">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the month
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the “Month”. 
                      </p>
                      <p class="p-birth-date-card__text">
                        Each time you touch the button, the value will change in increments of one month, and if you continue to touch the button, the value will change in increments of one month (fast forward).
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span>  to set the “Month”.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen43-setting-day.webp" alt="setting day">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the day
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the “Day”. 
                      </p>
                      <p class="p-birth-date-card__text">
                        Each time you touch the button, the value will change in increments of one day, and if you continue to touch the button, the value will change in increments of 10 days.
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span>  to set the “Day”.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen44-setting-hour.webp" alt="setting month">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the hour
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the “Hour”. 
                      </p>
                      <p class="p-birth-date-card__text">
                        Each time you touch the button, the value will change in increments of one hour, and if you continue to touch the button, the value will change in increments of 10 hours.
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span>  to set the “Hour”.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen45-setting-minute.webp" alt="setting minute">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the minute
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the “Minute”. 
                      </p>
                      <p class="p-birth-date-card__text">
                        Each time you touch the button, the value will change in increments of one minute, and if you continue to touch the button, the value will change in increments of 10 minutes.
                      </p>
                      <p class="p-birth-date-card__text">
                        ・Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span>  to set the “Minute”.
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    When you set the “minute”, the configured “measurement unit”, “year, month, day” and “hour, minute” will be displayed, then the power will automatically turn off.
                    <figure class="p-manual__image p-manual__image--weight-display">
                      <img src="./assets/img/common/screen46-confirm-settings.webp" alt="confirm settings">
                    </figure>
                  </li>
                  <li class="p-manual__step-list-item">
                    If you make a mistake while setting the numbers, turn off the power, then start over from step 1.
                  </li>
                  <li class="p-manual__step-list-item">
                    To change the values after setting the date and time, follow the steps below.
                    <ul class="p-manual__circle-steps">
                      <li class="p-manual__circle-step">
                        Remove the batteries
                      </li>
                      <li class="p-manual__circle-step">
                        Wait for more than 20 seconds, then insert the batteries again
                      </li>
                      <li class="p-manual__circle-step">
                        Repeat from step 1
                      </li>
                    </ul>
                  </li>
                  <li class="p-manual__step-list-item">
                    If you do not perform any operation for more than 3 minutes during the setup, the unit will automatically turn off. Start over from step 1.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./calibration.html" class="p-pagination__link c-btn">
            <span class="c-btn__text">
              Back to <%= json.calibration.title %>
            </span>
          </a>
          <a href="./calibration-registering-personal-data-on-the-unit.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              <%= json.calibration.registeringPersonalDataOnTheUnit.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>