<%- include('./common/_head', { pageKey: 'calibration' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'calibration' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'calibration-transferring-the-readings-later' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.calibration.transferringTheReadingsLater.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              You can manually transfer the readings saved in the unit’s memory to the smartphone.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Open the “OMRON connect” app.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Ensure that the Bluetooth function of your smartphone is enabled.
                  </li>
                  <li class="p-manual__step-list-item">
                    Ensure that the distance between the unit and the smartphone is within 10 m.
                  </li>
                </ul>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    This will start the transfer to your smartphone.<br>The readings saved in the unit’s memory will be transferred to your smartphone.
                  </li>
                  <li class="p-manual__step-list-item">
                    The following will be displayed on the unit’s display: When the readings are transferred, the unit will make a “beeping” sound, will flash three times and will remain lit. The unit will automatically turn off after 10 seconds.
                  </li>
                </ul>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Check that the readings have been transferred using the “OMRON connect” app.</h3>
              </li>
            </ol>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./calibration-selecting-the-personal-number-manually-before-measurement.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--storage">
            <span class="c-btn__text">
              <%= json.calibration.selectingThePersonalNumberManuallyBeforeMeasurement.title %>
            </span>
          </a>
          <a href="./calibration-measuring-without-recording.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              Measuring without Recording
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>