<%- include('./common/_head', { pageKey: 'howToUse' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'howToUse' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'how-to-use-taking-a-measurement' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.howToUse.takingAMeasurement.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              Measurement should be taken on a level and hard surface.<br>
              The readings are automatically transferred to your smartphone. You can check indicators on the “OMRON connect” app. Refer to <a href="./how-to-use-check-your-readings-using-the-omron-connect-app.html" class="p-manual__link">“Check Your Readings Using the “OMRON connect” App”</a>.<br> If you do not transfer the data to your smartphone, it will be saved in the unit’s memory. The unit’s memory can store up to 30 readings for each personal number. Readings in the unit’s memory can be transferred to your smartphone later.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Press the power button to turn on the power.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The weight measurement display will appear.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--power-button">
                  <img src="./assets/img/common/initialsettings-illust7.webp" alt="Power button">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">After the “0.0 kg” is displayed, take out the display unit and step on the unit to start the measurement.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">Do not take out the display unit until “0.0 kg” appears on the display.<br>
                    Otherwise, the weight of the display is added to your body weight which causes an incorrect result.</li>
                  <li class="p-manual__step-list-item">
                    Place your feet on the foot electrodes with your weight evenly distributed.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--body-angle">
                  <img src="./assets/img/common/initialsettings-illust8.webp" alt="Step on the unit">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    After the unit makes a “beeping” sound, the display will show your weight.<br>The unit will then start to measure your body composition.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen03-weight-display.webp" alt="weight display">
                </figure>
              </li>
              <!-- <li class="p-manual__step">
                <h3 class="p-manual__step-title">Place your feet on the foot electrodes with your weight evenly distributed.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">After the unit makes a “beeping” sound, the display will show your weight.<br>
                    The unit will then start to measure your body composition.</li>
                </ul>
                <figure class="p-manual__image p-manual__image--body-fat-scale">
                  <img src="./assets/img/common/initialsettings-illust6.webp" alt="Person using a scale with hand grips">
                </figure>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen03-weight-display.webp" alt="weight display">
                </figure>
              </li> -->
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Extend your arms straight at a 90° angle to your body.</h3>
                <div class="p-manual__image-flex">
                  <figure class="p-manual__image p-manual__image--body-angle">
                    <img src="./assets/img/common/initialsettings-illust4.webp" alt="measurement pose">
                  </figure>
                  <p class="p-manual__bubble">
                    Check the correct measurement method before measuring. Refer to <a href="./how-to-use-for-accurate-measurement.html#check-the-correct-measurement-method" class="p-manual__link">“Check the Correct Measurement Method”</a>.
                  </p>
                </div>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">After the measurement is complete, the estimated personal number is displayed. At this point you may step off the unit.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">The unit makes a “beeping” sound.</li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen05-user-profile-display.webp" alt="user profile display">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Check whether the estimated personal number is correct.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">Check whether your personal number, which you set when registering your personal data, is displayed. This product automatically estimates your personal number based on your weight and body composition using your personal data. However, if someone with a similar body shape or weight takes a measurement, the correct personal number may not be displayed.</li>
                  <li class="p-manual__step-list-item">If your personal number is displayed, the power will automatically turn off after about 16 seconds without any operation, and the readings will be transferred to your smartphone. Refer to <a href="./how-to-use-automatic-transfer-of-readings.html" class="p-manual__link">“Automatic Transfer of Readings”</a>.<br>During transfer, the Bluetooth symbol (<div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-bluetooth2.webp" class="p-manual__icon" alt="bluetooth symbol"></div>) on the display will light up.</li>
                  <li class="p-manual__step-list-item">If your personal number is different, touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></div> to select your personal number, then touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></div>.<br>
                    The readings are transferred to your smartphone.</li>
                </ul>
                <p class="p-manual__example">
                  Modification example:
                </p>
                <figure class="p-manual__image p-manual__image--personal-number">
                  <img src="./assets/img/common/screen06-personal-number.webp" alt="personal number">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">If your personal number is displayed as shown below, it means that your personal number cannot be estimated from the readings.</li>
                </ul>
                <div class="p-manual__table-wrap p-manual__table-wrap--mt10">
                  <div class="p-manual__table">
                    <table class="p-table">
                      <thead class="p-table__head">
                        <tr class="p-table__row">
                          <th class="p-table__cell p-table__cell--display">Display</th>
                          <th class="p-table__cell p-table__cell--cause">Cause</th>
                          <th class="p-table__cell p-table__cell--action">Action</th>
                        </tr>
                      </thead>
                      <tbody class="p-table__body">
                        <tr class="p-table__row">
                          <td class="p-table__icon-wrap">
                            <div class="p-table__icon p-table__icon--weight-display">
                              <img src="./assets/img/common/weight-display-table01.webp" alt="back touch button">
                            </div>
                          </td>
                          <td class="p-table__cell">Personal data is not registered</td>
                          <td class="p-table__cell">Register your personal data using the “OMRON connect” app. Refer to <a href="./how-to-use-initial-setting.html#register-your-personal-data" class="p-manual__link">“Register Your Personal Data (Current Weight and Body Fat Percentage)”</a>.<br>
                            Or, touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> and register your personal data. Refer to <a href="./other-settings-registering-personal-data-on-the-unit.html" class="p-manual__link">“Registering Personal Data on the Unit”</a>.</td>
                        </tr>
                        <tr class="p-table__row">
                          <td class="p-table__icon-wrap">
                            <div class="p-table__icon p-table__icon--weight-display">
                              <img src="./assets/img/common/weight-display-table02.webp" alt="ok touch button">
                            </div>
                          </td>
                          <td class="p-table__cell">The readings do not match any registered personal data</td>
                          <td class="p-table__cell">There may be significant differences between the registered personal data and the readings. Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to select the registered personal number, then touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span>.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Check the measurement results.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">The display on the unit will repeatedly show the measurement results in sequence. (The display will change automatically.)</li>
                </ul>                
                <p class="p-manual__example">
                  Display example:
                </p>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">4 indications</li>
                </ul>
                <figure class="p-manual__image p-manual__image--check-the-measurement-results">
                  <img src="./assets/img/common/check-the-measurement-results.webp" alt="measurement results">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">16 indications</li>
                </ul>
                <figure class="p-manual__image p-manual__image--check-the-measurement-results2">
                  <img src="./assets/img/common/check-the-measurement-results2.webp" alt="measurement results">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">You can set all indicators to be displayed in <a   href="./other-settings-user-settings-display-settings-deleting-data.html#display-settings" class="p-manual__link">"Display settings"</a>.</li>
                  <li class="p-manual__step-list-item">The unit will automatically turn off if no button is touched: after 16 seconds for 4 indicators, and after 72 seconds for 18 indicators. </li>
                  <li class="p-manual__step-list-item">Once the <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-left.webp" class="p-manual__icon" alt="left arrow icon"></div> or <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-right.webp" class="p-manual__icon" alt="right arrow icon"></div> button is touched, the display will change, and the unit will automatically turn off after approximately 3 minutes.</li>
                  <li class="p-manual__step-list-item">Pregnant women may not be able to measure their body composition properly.</li>
                  <li class="p-manual__step-list-item">When the number of readings stored in the unit’s memory exceeds 30, the oldest readings will be deleted.</li>
                  <li class="p-manual__step-list-item">In the following case, the readings are saved in the unit’s memory.<br>- The smartphone on which the “OMRON connect” app is installed is turned off<br>- Bluetooth communication is disabled<br>- The distance between the unit and the smartphone is 5 m or more</li>
                  <li class="p-manual__step-list-item">If you enter a different personal number, the correct body composition value will not be displayed.<br>
                    If you have entered a different personal number, touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></div>, then touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></div> to select your personal number again.</li>
                </ul>
              </li>
            </ol>
            <article class="p-manual__article" id="calculate-your-fit-index">
              <h3 class="p-manual__sub-title">Calculate Your FIT Index in Athlete Mode</h3>
              <p class="p-manual__sub-text">Athlete Mode is used to measure body composition in people who engage in high-frequency, high-intensity, and long-duration training as part of their daily routine, and who have greater muscle mass relative to their BMI.<br>If you are unsure whether to select Athlete Mode, refer to your FIT Index, calculated based on the following three factors: frequency, intensity, and duration of exercise. It is recommended to use Athlete Mode if your FIT Index score is 60 or higher.</p>
              <p class="p-manual__formula">
                FIT Index &equals; Frequency &times; Intensity &times; Time
              </p>
              <ul class="p-manual__formulas">
                <li class="p-manual__formula-item">
                  Based on your FIT Index use the following mode when setting your personal data.
                </li>
                <li class="p-manual__formula-item">
                  NORMAL &equals; FIT Index &lt; 60
                </li>
                <li class="p-manual__formula-item">
                  ATHLETE &equals; FIT Index &ge; 60
                </li>
              </ul>
              <div class="p-manual__formula-wrapper p-formula">
                <h4 class="p-formula__title">
                  EXAMPLE: Running 5 times a week for 30 minutes.
                </h4>
                <div class="p-formula__flex">
                  <div class="p-formula__fraction">
                      <div class="p-formula__numerator">75</div>
                      <div class="p-formula__denominator">FIT Index</div>
                  </div>
                  
                  <span class="p-formula__operator equals">&equals;</span>
                  
                  <div class="p-formula__fraction">
                      <div class="p-formula__numerator">5</div>
                      <div class="p-formula__denominator">Frequency</div>
                  </div>
                  
                  <span class="p-formula__operator">&times;</span>
                  
                  <div class="p-formula__fraction">
                      <div class="p-formula__numerator">5</div>
                      <div class="p-formula__denominator">Intensity</div>
                  </div>
                  
                  <span class="p-formula__operator">&times;</span>
                  
                  <div class="p-formula__fraction">
                      <div class="p-formula__numerator">3</div>
                      <div class="p-formula__denominator">Time</div>
                  </div>
                </div>
                <p class="p-formula__result">FIT Index &ge; 60, ATHLETE mode</p>
              </div>
              <ol class="p-manual__formula-list">
                <li class="p-manual__formula-list-item">
                  <div class="p-manual__table-wrap-simple p-manual__table-wrap--mt10">
                    <div class="p-manual__table p-manual__table--two-column">
                      <table class="p-table">
                        <thead class="p-table__head">
                          <tr class="p-table__row">
                            <th class="p-table__cell p-table__cell--number">Number</th>
                            <th class="p-table__cell p-table__cell--formula-name">Frequency of Exercise</th>
                          </tr>
                        </thead>
                        <tbody class="p-table__body">
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">5</td>
                            <td class="p-table__cell">Daily or almost daily</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">4</td>
                            <td class="p-table__cell">3 to 4 times per week</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">3</td>
                            <td class="p-table__cell">1 to 2 times per week</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">2</td>
                            <td class="p-table__cell">A few times per month</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">1</td>
                            <td class="p-table__cell">Less than once per month</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
                <li class="p-manual__formula-list-item">
                  <div class="p-manual__table-wrap p-manual__table-wrap--mt10">
                    <div class="p-manual__table p-manual__table--display">
                      <table class="p-table">
                        <thead class="p-table__head">
                          <tr class="p-table__row">
                            <th class="p-table__cell p-table__cell--number">Intensity</th>
                            <th class="p-table__cell p-table__cell--exercise" colspan="2">Example Sports Activities</th>
                          </tr>
                        </thead>
                        <tbody class="p-table__body">
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number" rowspan="13">5</td>
                            <td class="p-table__cell">Cycling - &gt; 12 mph pace</td>
                            <td class="p-table__cell">Boxing</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Weightlifting - vigorous, powerlifting or bodybuilding</td>
                            <td class="p-table__cell">Football - competitive</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Rowing - moderate to vigorous</td>
                            <td class="p-table__cell">Handball, racquetball, or squash</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Rowing machines - moderate to vigorous effort</td>
                            <td class="p-table__cell">Ice hockey</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Aerobic dancing - high impact</td>
                            <td class="p-table__cell">Karate or kickboxing</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Step aerobics</td>
                            <td class="p-table__cell">Rockclimbing</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Running -&gt; 5.0 mph</td>
                            <td class="p-table__cell">Rugby</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Rope jumping</td>
                            <td class="p-table__cell">Soccer - competitive</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Rollerblading (roller skating)</td>
                            <td class="p-table__cell">Tennis</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Ski machine</td>
                            <td class="p-table__cell">Swimming - competitive or lap</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Stairstepping</td>
                            <td class="p-table__cell">Speed skating - competitive</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Stationary cycling - moderate to vigorous effort</td>
                            <td class="p-table__cell">Skiing - cross-country</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Basketball - competitive</td>
                            <td class="p-table__cell">Skiing - downhill racing</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="p-manual__table-wrap p-manual__table-wrap--mt10">
                    <div class="p-manual__table p-manual__table--display">
                      <table class="p-table">
                        <thead class="p-table__head">
                          <tr class="p-table__row">
                            <th class="p-table__cell p-table__cell--number">Intensity</th>
                            <th class="p-table__cell p-table__cell--exercise" colspan="2">Example Sports Activities</th>
                          </tr>
                        </thead>
                        <tbody class="p-table__body">
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number" rowspan="13">4</td>
                            <td class="p-table__cell">Cycling - &gt; 12 mph pace</td>
                            <td class="p-table__cell">Rollerblading - leisurely</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Weightlifting - moderate effort</td>
                            <td class="p-table__cell">Basketball - shooting baskets</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Stationary cycling - light effort</td>
                            <td class="p-table__cell">Bowling</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Rowing - light effort</td>
                            <td class="p-table__cell">Golf</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Calisthenics</td>
                            <td class="p-table__cell">Gymnastics</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Stretching / Yoga</td>
                            <td class="p-table__cell">Horseback riding</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Rowing machines - light effort</td>
                            <td class="p-table__cell">Baseball</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Water aerobics or water exercise</td>
                            <td class="p-table__cell">Softball</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Aerobic dancing - low impact</td>
                            <td class="p-table__cell">Tai Chi</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Jogging - &lt; 5.0 mph</td>
                            <td class="p-table__cell">Volleyball - competitive</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Walking - &gt; 2.5 mph</td>
                            <td class="p-table__cell">Wrestling - competitive</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell">Swimming - leisurely</td>
                            <td class="p-table__cell">Ice Skating - &lt; 9 mph</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
                <li class="p-manual__formula-list-item">
                  <div class="p-manual__table-wrap-simple p-manual__table-wrap--mt10">
                    <div class="p-manual__table p-manual__table--two-column">
                      <table class="p-table">
                        <thead class="p-table__head">
                          <tr class="p-table__row">
                            <th class="p-table__cell p-table__cell--number">Time</th>
                            <th class="p-table__cell p-table__cell--formula-name">Duration</th>
                          </tr>
                        </thead>
                        <tbody class="p-table__body">
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">4</td>
                            <td class="p-table__cell">45 minutes or more</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">3</td>
                            <td class="p-table__cell">30 to 44 minutes</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">2</td>
                            <td class="p-table__cell">15 - 29 minutes</td>
                          </tr>
                          <tr class="p-table__row">
                            <td class="p-table__cell p-table__cell--number">1</td>
                            <td class="p-table__cell">less than 15 minutes</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ol>
            </article>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./how-to-use-for-accurate-measurement.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--wholebody">
            <span class="c-btn__text">
              <%= json.howToUse.forAccurateMeasurement.title %>
            </span>
          </a>
          <a href="./how-to-use-automatic-transfer-of-readings.html" class="p-pagination__link c-btn c-btn--next c-btn--next--mobile">
            <span class="c-btn__text">
              <%= json.howToUse.automaticTransferOfReadings.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>