<%- include('./common/_head', { pageKey: 'howToUse' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'howToUse' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'how-to-use-know-your-device' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.howToUse.knowYourDevice.title %>
          </h2>
          <div class="p-manual__wrap">
            <article class="p-manual__article" id="main-unit">
              <h3 class="p-manual__sub-title">
                Main Unit
              </h3>
              <figure class="p-manual__image p-manual__image--know-your-device-main-unit">
                <picture>
                  <source srcset="./assets/img/common/know-your-device-main-unit.webp" media="(min-width: 768px)">
                  <img src="./assets/img/common/know-your-device-main-unit_sp.webp" alt="Main Unit">
                </picture>
              </figure>
              <div class="p-manual__table-wrap p-manual__table-wrap--mt10">
                <div class="p-manual__table">
                  <table class="p-table">
                    <thead class="p-table__head">
                      <tr class="p-table__row">
                        <th class="p-table__cell p-table__cell--icon">Icon</th>
                        <th class="p-table__cell p-table__cell--name">Touch Button Name</th>
                        <th class="p-table__cell p-table__cell--description">Description</th>
                      </tr>
                    </thead>
                    <tbody class="p-table__body">
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-back.webp" alt="back touch button">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Back touch button</td>
                        <td class="p-table__cell" rowspan="2">Touch this button to confirm the readings, select a personal number, and set your personal data.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-advance.webp" alt="advance touch button">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Advance touch button</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-bluetooth.webp" alt="bluetooth touch button">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Bluetooth® touch button</td>
                        <td class="p-table__cell">Touch this button to manually transfer readings to your smartphone.<br>When pairing this product with your smartphone, touch and hold this button for more than 2 seconds.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-ok.webp" alt="ok touch button">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">OK touch button</td>
                        <td class="p-table__cell">Touch this button to confirm the value.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <p class="p-manual__note">
                When you operate a touch button, a beep will sound.
              </p>
            </article>
            <article class="p-manual__article" id="display">
              <h3 class="p-manual__sub-title">
                Display
              </h3>
              <figure class="p-manual__image p-manual__image--know-your-device-display">
                <img src="./assets/img/common/know-your-device-display.webp" alt="Display">
              </figure>
              <div class="p-manual__table-wrap p-manual__table-wrap--mt0">
                <div class="p-manual__table p-manual__table--display">
                  <table class="p-table">
                    <thead class="p-table__head">
                      <tr class="p-table__row">
                        <th class="p-table__cell p-table__cell--symbol">Symbol</th>
                        <th class="p-table__cell p-table__cell--name">Name</th>
                        <th class="p-table__cell p-table__cell--description">Description</th>
                      </tr>
                    </thead>
                    <tbody class="p-table__body">
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-bluetooth2.webp" alt="bluetooth symbol">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Bluetooth symbol</td>
                        <td class="p-table__cell">Appears when pairing the device or transferring readings.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-sync.webp" alt="sync symbol">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">SYNC symbol</td>
                        <td class="p-table__cell">Flashes when there are many readings that have not been transferred.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-battery.webp" alt="battery symbol">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Battery symbol</td>
                        <td class="p-table__cell">When the battery is low, the <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-battery.webp" class="p-manual__icon" alt="battery symbol"></span> symbol flashes.<br>When the battery is depleted and needs to be replaced, <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-lowbattery.webp" class="p-manual__icon" alt="battery symbol"></span> and “A1” appears.<br>When replacing batteries, replace all four batteries at the same time with new AA alkaline batteries of the same brand.<br>This will not be displayed if there is sufficient battery.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon p-table__icon--personal-number">
                            <img src="./assets/img/common/icon-personal-number.webp" alt="personal number symbol">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Personal number symbol</td>
                        <td class="p-table__cell">Appears when selecting the personal number 1～4.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-guest-mode.webp" alt="guest mode symbol">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Guest mode symbol</td>
                        <td class="p-table__cell">Appears when measuring without recording the readings. Select “Guest” for the personal number.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-weight.webp" alt="weight symbol">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Weight symbol</td>
                        <td class="p-table__cell">Appears when measuring only weight.</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__icon-wrap">
                          <div class="p-table__icon">
                            <img src="./assets/img/common/icon-setting.webp" alt="setting symbol">
                          </div>
                        </td>
                        <td class="p-table__cell p-table__cell--name">Setting symbol</td>
                        <td class="p-table__cell">Appears when performing initial settings on the Unit or display settings.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./how-to-use-package-contents.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--package">
            <span class="c-btn__text">
              <%= json.howToUse.packageContents.title %>
            </span>
          </a>
          <a href="./how-to-use-installing-batteries.html" class="p-pagination__link c-btn c-btn--next c-btn--next--battery">
            <span class="c-btn__text">
              <%= json.howToUse.installingBatteries.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>