<%- include('./common/_head', { pageKey: 'howToUse' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'howToUse' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'how-to-use-check-your-readings-using-the-omron-connect-app' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--mobile">
            <%= json.howToUse.checkYourReadingsUsingTheOMRONConnectApp.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead p-manual__lead--bold">
              You can check the following readings on the “OMRON connect” app.<br>(The screen display is for illustrative purposes. It may differ from the actual screen)
            </p>
            <ul class="p-manual__list">
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Weight</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Body fat percentage</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Body fat mass</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal muscle percentage</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal muscle mass</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal muscle percentage classification (Arms)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal muscle percentage classification (Trunk)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal muscle percentage classification (Legs)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Visceral fat level</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Resting metabolism</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">BMI</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous fat percentage classification</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous fat percentage classification (Arms)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous fat percentage classification (Trunk)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous fat percentage classification (Legs)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Body water percentage</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Bone mass</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Fat free mass</h3>
              </li>
            </ul>
            <!-- <ol class="p-manual__app-items">
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Weight</h3>
                <p class="p-manual__app-item-text">Displays the measured weight.</p>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Body fat</h3>
                <p class="p-manual__app-item-text">Displays the percentage of body weight that is made up of body fat (body fat mass) = body fat percentage, along with the assessment results (on a 4-level scale).</p>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Body fat percentage</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Body fat mass</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Skeletal muscle</h3>
                <p class="p-manual__app-item-text">Displays the percentage of body weight that is made up of skeletal muscle weight (skeletal muscle mass) = skeletal muscle percentage, along with the assessment results (on a 4-level scale).</p>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Skeletal muscle percentage (Whole body)</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Skeletal muscle mass (Whole body)</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Skeletal muscle percentage (Segmental)</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Visceral fat</h3>
                <p class="p-manual__app-item-text">Displays the level of fat area around the internal organs along with the assessment results (on a 3-level scale).</p>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Resting metabolism</h3>
                <p class="p-manual__app-item-text">Displays the energy required to maintain homeostasis.</p>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">BMI</h3>
                <p class="p-manual__app-item-text">Displays the numerical value to determine how your mass relates to your height.</p>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Subcutaneous fat classification（Whole body）</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Subcutaneous fat classification（Segmental）</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Body water percentage</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Bone mass</h3>
              </li>
              <li class="p-manual__app-item">
                <h3 class="p-manual__app-item-title">Fat free mass</h3>
              </li>
            </ol> -->
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./how-to-use-automatic-transfer-of-readings.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--mobile">
            <span class="c-btn__text">
              <%= json.howToUse.automaticTransferOfReadings.title %>
            </span>
          </a>
          <a href="./how-to-use-measuring-weight-only.html" class="p-pagination__link c-btn c-btn--next c-btn--next--composition-monitor">
            <span class="c-btn__text">
              <%= json.howToUse.measuringWeightOnly.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>