<%- include('./common/_head', { pageKey: 'howToUse' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'howToUse' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'how-to-use-initial-setting' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--setting">
            <%= json.howToUse.initialSetting.title %>
          </h2>
          <div class="p-manual__wrap">
            <article class="p-manual__article" id="install-the-app">
              <h3 class="p-manual__sub-title">Installing the "OMRON connect" App</h3>
              <p class="p-manual__sub-text">
                This unit can transfer your readings to your smartphone, and you can confirm your weight and body composition changes simply by installing the “OMRON connect” app on your smartphone. The "OMRON connect" app allows you to check various metrics, including weight, body fat percentage, skeletal muscle, BMI, and many more.<br>
                After installation, register this product and your personal data (date of birth, gender, height and personal number) in the "OMRON connect" app.
              </p>
              <p class="p-manual__sub-text p-manual__sub-text--bold">
                Note
              </p>
              <ul class="p-manual__step-list p-manual__step-list--mt0">
                <li class="p-manual__step-list-item">
                  Review the list of compatible smartphones at: <a href="https://www.omronconnect.com/devices/" class="p-manual__link">www.omronconnect.com/devices/</a><br>
                  Any devices and operating systems not listed on our website are not supported.
                </li>
              </ul>
              <ol class="p-manual__steps">
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Go to “Settings” on your smartphone and enable the Bluetooth function.</h4>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Install the “OMRON connect” app on your smartphone.</h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">Install the “OMRON connect” app using one of the following methods.</li>
                  </ul>
                  <p class="p-manual__sub-text">Visit the website to download</p>
                  <div class="p-manual__store-badges">
                    <a href="https://apps.apple.com/gb/app/omron-connect/id1166317885" class="p-manual__app-store-badge" target="_blank" rel="noopener noreferrer">
                      <img src="./assets/img/common/app-store-badge.webp" alt="Download on the App Store">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.omronhealthcare.omronconnect" class="p-manual__google-play-badge" target="_blank" rel="noopener noreferrer">
                      <img src="./assets/img/common/google-play-badge.webp" alt="Get it on Google Play">
                    </a>
                  </div>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Open the “OMRON connect” app and register this product and your personal data.</h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Follow the instructions in the “OMRON connect” app to pair your smartphone and register.
                    </li>
                    <li class="p-manual__step-list-item">
                      If you are already using the “OMRON connect” app, register this product using the following steps.
                      <ol class="p-manual__procedures">
                        <li class="p-manual__procedure">Tap the “Devices” icon at the bottom of the “OMRON connect” app screen</li>
                        <li class="p-manual__procedure">Tap “Add Devices” and follow the on-screen instructions</li>
                      </ol>
                    </li>
                  </ul>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Confirm that your unit is connected successfully.</h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      When your unit is connected successfully to your smartphone, the pairing complete display will appear.
                    </li>
                  </ul>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen49-initial-settings.webp" alt="">
                  </figure>
                </li>
                <p class="p-manual__sub-text">
                  If you prefer not to use the app, settings can be configured directly on the unit. Refer to sections <a href="./other-settings-performing-initial-settings-on-the-unit.html" class="p-manual__link">"Performing Initial Settings on the Unit"</a> and <a href="./other-settings-registering-personal-data-on-the-unit.html" class="p-manual__link">"Registering Personal Data on the Unit"</a> for details.
                </p>
              </ol>
            </article>
            <article class="p-manual__article" id="register-your-personal-data">
              <h3 class="p-manual__sub-title">Register Your Personal Data (Current Weight and Body Fat Percentage)</h3>
              <p class="p-manual__sub-text">
                The registered personal data will act as a standard for estimating the measured individual (personal number).<br>The readings (weight, body fat percentage) will be automatically transferred to your smartphone. Keep the “OMRON connect” app open until you have completed registering your personal data.
              </p>
              <ol class="p-manual__steps">
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Press the power button to turn on the power.
                  </h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      The weight measurement display will appear.
                    </li>
                  </ul>
                  <figure class="p-manual__image p-manual__image--power-button2">
                    <img src="./assets/img/common/initialsettings-illust9.webp" alt="Power button">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> and select the personal number registered in the “OMRON connect” app.</h4>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen02-user-selection.webp" alt="personal number">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span>.
                  </h4>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    After the “0.0 kg” is displayed, take out the display unit and step on the unit to start the measurement.
                  </h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Do not take out the display unit until “0.0 kg” appears on the display.<br>Otherwise, the weight of the display is added to your body weight which causes an incorrect result.
                    </li>
                    <li class="p-manual__step-list-item">
                      Place your bare feet on the foot electrodes with your weight evenly distributed.
                    </li>
                  </ul>
                  <figure class="p-manual__image p-manual__image--body-angle">
                    <img src="./assets/img/common/initialsettings-illust8.webp" alt="Step on the unit">
                  </figure>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Once your weight is shown on the display, the unit will then start to measure your body composition.
                    </li>
                  </ul>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen03-weight-display.webp" alt="weight display">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Extend your arms straight at a 90° angle to your body.</h4>
                  <div class="p-manual__image-flex">
                    <figure class="p-manual__image p-manual__image--body-angle">
                      <img src="./assets/img/common/initialsettings-illust4.webp" alt="measurement pose">
                    </figure>
                    <p class="p-manual__bubble">
                      Check the correct measurement method before measuring. Refer to <a href="./how-to-use-for-accurate-measurement.html#check-the-correct-measurement-method" class="p-manual__link">“Check the Correct Measurement Method”</a>.
                    </p>
                  </div>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">After the measurement is complete, the estimated personal number, and body composition are displayed. At this point you may step off the unit.</h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      The unit makes a “beeping” sound.
                    </li>
                  </ul>
                  <figure class="p-manual__image p-manual__image--weight-display">
                    <img src="./assets/img/common/screen50-initial-settings.webp" alt="initial settings">
                  </figure>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">Press the power button to turn off the power.</h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Even if you forget to turn off the power, it will automatically turn off after approx. 16 seconds.
                    </li>
                    <li class="p-manual__step-list-item">
                      To change or delete your personal data, refer to  <a href="./other-settings-user-settings-display-settings-deleting-data.html" class="p-manual__link">"User Settings / Display Settings / Deleting Data"</a>.
                    </li>
                  </ul>
                </li>
              </ol>
              <ul class="p-manual__items p-manual__items--gap0">
                <li class="p-manual__item">
                  To cancel the setting, press the power button to turn off the power.
                </li>
                <li class="p-manual__item">
                  One smartphone can manage the readings of one person.<br>If you are managing the readings of multiple people, prepare one smartphone for each personal number.
                </li>
                <li class="p-manual__item">
                  To use automatic transfer, your location setting on your smartphone must be enabled.<br>Even if the location is enabled, your personal information will not be leaked.
                </li>
              </ul>
            </article>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./how-to-use-installing-batteries.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--battery">
            <span class="c-btn__text">
              <%= json.howToUse.installingBatteries.title %>
            </span>
          </a>
          <a href="./how-to-use-for-accurate-measurement.html" class="p-pagination__link c-btn c-btn--next c-btn--next--wholebody">
            <span class="c-btn__text">
              <%= json.howToUse.forAccurateMeasurement.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>