<%- include('./common/_head', { pageKey: 'howToUse' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'howToUse' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'how-to-use-installing-batteries' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--battery">
            <%= json.howToUse.installingBatteries.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              This product uses AA alkaline batteries. Do not use manganese batteries or rechargeable batteries as they may significantly reduce the number of measurements or cause malfunction.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Turn over the unit and open the battery cover on the back.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">❶ Push the clasp, and ❷ remove the battery cover.</li>
                </ul>
                <figure class="p-manual__image p-manual__image--installing-batteries-step1">
                  <img src="./assets/img/common/installing-batteries-step1.webp" alt="Battery cover removal">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Install the 4 AA alkaline batteries in the correct polarity as marked inside the battery compartment.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">Press the battery down to make sure it is installed properly.</li>
                  <li class="p-manual__step-list-item">Only use 4 AA alkaline batteries for this unit. Do not use other types of batteries as they may significantly reduce the number of measurements or cause malfunction.</li>
                </ul>
                <figure class="p-manual__image p-manual__image--installing-batteries-step2">
                  <img src="./assets/img/common/installing-batteries-step2.webp" alt="Battery installation with polarity">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Close the battery cover.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">Close it until you hear a click.</li>
                </ul>
              </li>
            </ol>
            <div class="p-manual__tip">
              <p class="p-manual__tip-text">・Battery life is approximately 6 months.<br>        (When using AA alkaline batteries with four measurements per day under OMRON’s test conditions)</p>
            </div>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./how-to-use-know-your-device.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--storage">
            <span class="c-btn__text">
              Know Your Device
            </span>
          </a>
          <a href="./how-to-use-initial-setting.html" class="p-pagination__link c-btn c-btn--next c-btn--next--setting">
            <span class="c-btn__text">
              Initial Settings
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>