<%- include('./common/_head', { pageKey: 'howToUse' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'howToUse' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'how-to-use-check-your-readings-using-the-omron-connect-app' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--mobile">
            <%= json.howToUse.checkYourReadingsUsingTheOMRONConnectApp.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead p-manual__lead--bold">
              You can check the following readings on the “OMRON connect” app.<br>(The screen display is for illustrative purposes. It may differ from the actual screen)
            </p>
            <ul class="p-manual__list">
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Body Weight</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Body Fat Percentage</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Body Fat Mass</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal Muscle Percentage</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal Muscle Mass</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal Muscle Percentage Classification(Arms)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal Muscle Percentage Classification(Trunk)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Skeletal Muscle Percentage Classification(Legs)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Visceral Fat Level</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Resting Metabolism </h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">BMI</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous Fat Percentage Classification</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous Fat Percentage Classification(Arms)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous Fat Percentage Classification(Trunk)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Subcutaneous Fat Percentage Classification(Legs)</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Body Water Percentage</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Bone Mass</h3>
              </li>
              <li class="p-manual__list-item">
                <h3 class="p-manual__list-title">Fat Free Mass</h3>
              </li>
            </ul>
            <p class="p-manual__text p-manual__text--bold">
              For more details, refer to <a href="./information-on-body-composition-information-on-body-composition.html" class="p-manual__link">“Information on Body Composition”</a>.
            </p>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./how-to-use-automatic-transfer-of-readings.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--mobile">
            <span class="c-btn__text">
              <%= json.howToUse.automaticTransferOfReadings.title %>
            </span>
          </a>
          <a href="./how-to-use-measuring-weight-only.html" class="p-pagination__link c-btn c-btn--next c-btn--next--composition-monitor">
            <span class="c-btn__text">
              <%= json.howToUse.measuringWeightOnly.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>