<%- include('./common/_head', { pageKey: 'howToUse' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'howToUse' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'how-to-use-measuring-without-recording' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.howToUse.measuringWithoutRecording.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              When measuring without recording the readings, select “Guest” for the personal number and set the personal data (date of birth, gender, height, mode) before measuring.<br>
The readings will not be transferred to your smartphone. It will also not be saved in the unit’s memory.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Press the power button to turn on the power.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The weight measurement display will appear.
                  </li>
                </ul>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to select "Guest".
                </h3>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen12-guest-mode.webp" alt="Guest mode display">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to confirm.
                </h3>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Set up your personal data.
                </h3>
                <ul class="p-manual__personal-data-items">
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen13-birth-date.webp" alt="Birth year setting">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the year of your date of birth
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the year.<br> 
                        Each time you touch the button, the value will change in increments of one year, and if you continue to touch the button, the value will change in increments of 10 years.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the year.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen15-birth-date.webp" alt="Birth month setting">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the month of your date of birth
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the month.<br>
                        Each time you touch the button, the value will change in increments of one month, and if you continue to touch the button, the value will continue to change in one-month increments, but will increase at a faster rate.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the month.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen14-birth-date.webp" alt="Birth day setting">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the day of your date of birth
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the day.<br> 
                        Each time you touch the button, the value will change in increments of one day, and if you continue to touch the button, the value will change in increments of 10 days.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the day.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen16-birth-date.webp" alt="Gender setting">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set your gender
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to select male or female.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the gender.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen17-birth-date.webp" alt="Height setting">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set your height
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the height. <br>
                        The setting range is 100.0 to 199.5 cm. <br>
                        Each time you touch the button, the value will change in 0.5 cm increments, and if you continue to touch the button, the value will change in 10 cm increments.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set your height.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/screen18-birth-date.webp" alt="Mode setting">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the mode
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to select normal or athlete.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the mode.
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Once the settings are complete, the configured information will be displayed, followed by "0.0 kg" (weight measurement).
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display-vertical">
                  <img src="./assets/img/common/screen19-birth-date.webp" alt="Settings confirmation and weight display">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Take a measurement.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Refer to <a href="./how-to-use-taking-a-measurement.html" class="p-manual__link">“Taking a Measurement”</a>.
                  </li>
                </ul>
                <p class="p-manual__note">
                  Note
                </p>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The measurement results are shown as 18 indicators on the display.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./how-to-use-measuring-weight-only.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--composition-monitor">
            <span class="c-btn__text">
              <%= json.howToUse.measuringWeightOnly.title %>
            </span>
          </a>
          <a href="./how-to-use-selecting-the-personal-number-manually-before-measurement.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              <%= json.howToUse.selectingThePersonalNumberManuallyBeforeMeasurement.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>