<%- include('./common/_head', { pageKey: 'importantSafetyInformation' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'importantSafetyInformation' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'important-safety-information' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-safety">
          <h2 class="p-safety__title p-page-title p-page-title--attention">
            <%= json.importantSafetyInformation.title %>
          </h2>
          <div class="p-safety__wrap">
            <p class="p-safety__lead">
              Read the Important Safety Information in this instruction manual before using this device. Follow this instruction manual thoroughly for your safety.
            </p>
            <div class="p-safety__image">
              <img src="./assets/img/common/danger-logo.webp" alt="Danger">
            </div>
            <p class="p-safety__lead">
              Improper use may cause danger resulting in death or serious injury. These are situations in which the device should not be used.
            </p>
            <div class="p-safety__flex">
              <ul class="p-safety__items">
                <li class="p-safety__item">
                  Never use this unit in combination with medical electronic devices such as:
                  <ul class="p-safety__number-items">
                    <li class="p-safety__number-item">
                      Medical electronic implants such as pacemakers.
                    </li>
                    <li class="p-safety__number-item">
                      Electronic life support systems such as an artificial heart/lung.
                    </li>
                    <li class="p-safety__number-item">
                      Portable electronic medical devices such as an electrocardiograph.
                    </li>
                  </ul>
                </li>
              </ul>
              <figure class="p-safety__pacemakers">
                <img src="./assets/img/common/pacemakers.webp" alt="Pacemaker">
              </figure>
            </div>
            <p class="p-safety__text p-safety__text--mt0">
              This unit could cause these devices to malfunction, posing a considerable health risk to users of these devices.
            </p>
            <div class="p-safety__image">
              <img src="./assets/img/common/warning-logo.webp" alt="Warning">
            </div>
            <p class="p-safety__lead">Indicates a potentially hazardous situation which, if not avoided, could result in death or serious injury.</p>
            <ul class="p-safety__items">
              <li class="p-safety__item">
                DO NOT use the unit on slippery surfaces, such as a wet floor.
              </li>
              <li class="p-safety__item">
                DO NOT tip, drop, or subject the product to intense impact.
              </li>
              <li class="p-safety__item">
                DO NOT jump on the unit. Doing so may cause you to fall or slip, resulting in serious injury.
              </li>
              <li class="p-safety__item">
                DO NOT use the unit when your body and/or feet are wet, such as after taking a bath or shower.
              </li>
              <li class="p-safety__item">
                DO NOT step on the edges, display area, or display unit holder of this unit because you may lose your balance and fall, resulting in serious injury.
              </li>
              <li class="p-safety__item">
                Persons with disabilities or persons who are physically frail should be assisted by another person when using this unit to prevent falling when stepping on and off the unit.
              </li>
            </ul>
            <h3 class="p-safety__sub-title">
              Data Transmission
            </h3>
            <ul class="p-safety__items">
              <li class="p-safety__item">
                This product emits radio frequencies (RF) in the 2.4 GHz band. DO NOT use this product in locations where RF is restricted, such as on an aircraft or in hospitals.
              </li>
            </ul>
            <div class="p-safety__image">
              <img src="./assets/img/common/caution-logo.webp" alt="Caution">
            </div>
            <p class="p-safety__lead">
              Indicates a potentially hazardous situation which, if not avoided, may result in minor or moderate injury to the user or patient, or cause damage to the equipment or other property.
            </p>
            <ul class="p-safety__items">
              <li class="p-safety__item">
                Consult with your physician or healthcare provider before beginning a weight reduction or exercise program.
              </li>
              <li class="p-safety__item">
                Keep the unit out of the reach of infants, toddlers and children.
              </li>
              <li class="p-safety__item">
                During measurement, make sure that no mobile phone or smartphone is near this
unit.
              </li>
              <li class="p-safety__item">
                DO NOT attempt to disassemble, modify or repair the unit.
              </li>
              <li class="p-safety__item">
                DO NOT place the unit on a cushioned floor surface such as a carpet or mat because the measurement may not be accurate.
              </li>
              <li class="p-safety__item">
                Step onto the unit with bare feet when measuring.
              </li>
              <li class="p-safety__item">
                This unit is not for professional use. DO NOT use this unit in hospitals or other medical facilities.
              </li>
              <li class="p-safety__item">
                Remove the display unit from main unit before stepping on the main unit.
              </li>
            </ul>
            <h3 class="p-safety__sub-title">
              Battery Usage
            </h3>
            <ul class="p-safety__items">
              <li class="p-safety__item">
                Replace worn batteries with new ones immediately.
              </li>
              <li class="p-safety__item">
                ONLY use 4 “AA” manganese or alkaline batteries with the unit. DO NOT use other types of batteries. DO NOT use new and used batteries together. Replace all 4 batteries at the same time.
              </li>
              <li class="p-safety__item">
                DO NOT use different types of batteries together.
              </li>
              <li class="p-safety__item">
                Remove the batteries if the unit will not be used for 3 months or more.
              </li>
              <li class="p-safety__item">
                DO NOT use batteries after their expiration date.
              </li>
            </ul>
            <h3 class="p-safety__sub-title">
              Data Transmission
            </h3>
            <ul class="p-safety__items">
              <li class="p-safety__item">
                DO NOT replace the battery while your measurement result is being transferred to your smart device. This may result in the incorrect operation of the unit and failure to transfer your measurement result.
              </li>
              <li class="p-safety__item">
                DO NOT place integrated circuit cards, magnets, metal objects, or other devices that emit electromagnetic fields near the unit while your measurement result is being transferred to your smart device. This may result in the incorrect operation of the unit and failure to transfer your measurement result.
              </li>
            </ul>
            <div class="p-safety__wireless">
              <h3 class="p-safety__sub-title p-safety__sub-title--wireless">
                About a wireless communication interference
              </h3>
              <div class="p-safety__wireless-flex">
                <figure class="p-safety__wireless-image">
                  <img src="./assets/img/common/wireless-icon.webp" alt="Wireless Interference">
                </figure>
                <p class="p-safety__text p-safety__text--mt0">
                  The Bluetooth option in the product is used to connect to dedicated apps on mobile devices to synchronize date/time data from mobile device to the product, and to synchronize measurement data from the product to mobile device. Further handling of the data on the mobile device is up to the user’s discretion. This product operates in an unlicensed ISM band at 2.4 GHz where any third party can intercept the radio waves, willfully or accidentally, for any unknown purpose. In the event this product is used near other wireless devices such as microwave and wireless LAN, which operate on the same frequency band as this product, there is a possibility that interference may occur. If interference occurs, stop the operation of the other devices or relocate this product away from other wireless devices before attempting to use it.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./index.html" class="p-pagination__link c-btn">
            <span class="c-btn__text">
              Back to <%= json.nav.home %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>