<%- include('./common/_head', { pageKey: 'bodyComposition' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'bodyComposition' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'information-on-body-composition-measurement-results-interpretation-diagrams' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--information">
            <%= json.bodyComposition.measurementResultsInterpretationDiagrams.title %>
          </h2>
          <div class="p-manual__wrap">
            
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./information-on-body-composition-information-on-body-composition.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--information">
            <span class="c-btn__text">
              <%= json.bodyComposition.informationOnBodyComposition.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>