<%- include('./common/_head', { pageKey: 'bodyComposition' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'bodyComposition' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'information-on-body-composition-measurement-results-interpretation-diagrams' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--information">
            <%= json.bodyComposition.measurementResultsInterpretationDiagrams.title %>
          </h2>
          <div class="p-manual__wrap">
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">
                Interpreting the Body Fat Percentage Result
              </h3>
              <p class="p-manual__sub-text">
                The table below is based on research by HD McCarthy et al, in the International Journal of Obesity, Vol. 30, 2006, and by Gallagher et al., American Journal of Clinical Nutrition, Vol. 72, Sept. 2000, and classified into four levels by Omron Healthcare.
              </p>
              <div class="p-manual__table-wrap p-manual__table-wrap--mt10">
                <div class="p-manual__table">
                  <table class="p-table">
                    <thead class="p-table__head p-table__head--bold">
                      <tr class="p-table__row">
                        <th class="p-table__cell">Gender</th>
                        <th class="p-table__cell">Age</th>
                        <th class="p-table__cell">- (Low)</th>
                        <th class="p-table__cell p-table__cell--color">0 (Normal)</th>
                        <th class="p-table__cell">+ (High)</th>
                        <th class="p-table__cell">++ (Very High)</th>
                      </tr>
                    </thead>
                    <tbody class="p-table__body p-table__body--text-center">
                      <tr class="p-table__row">
                        <td class="p-table__cell" rowspan="15">Female</td>
                        <td class="p-table__cell">6</td>
                        <td class="p-table__cell">&lt; 13.8 %</td>
                        <td class="p-table__cell p-table__cell--color">13.8 - 24.9 %</td>
                        <td class="p-table__cell">25.0 - 27.0 %</td>
                        <td class="p-table__cell">&ge; 27.1 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">7</td>
                        <td class="p-table__cell">&lt; 14.4 %</td>
                        <td class="p-table__cell p-table__cell--color">14.4 - 27.0 %</td>
                        <td class="p-table__cell">27.1 - 29.6 %</td>
                        <td class="p-table__cell">&ge; 29.7 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">8</td>
                        <td class="p-table__cell">&lt; 15.1 %</td>
                        <td class="p-table__cell p-table__cell--color">15.1 - 29.1 %</td>
                        <td class="p-table__cell">29.2 - 31.9 %</td>
                        <td class="p-table__cell">&ge; 32.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">9</td>
                        <td class="p-table__cell">&lt; 15.8 %</td>
                        <td class="p-table__cell p-table__cell--color">15.8 - 30.8 %</td>
                        <td class="p-table__cell">30.9 - 33.8 %</td>
                        <td class="p-table__cell">&ge; 33.9 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">10</td>
                        <td class="p-table__cell">&lt; 16.1 %</td>
                        <td class="p-table__cell p-table__cell--color">16.1 - 32.2 %</td>
                        <td class="p-table__cell">32.3 - 35.2 %</td>
                        <td class="p-table__cell">&ge; 35.3 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">11</td>
                        <td class="p-table__cell">&lt; 16.3 %</td>
                        <td class="p-table__cell p-table__cell--color">16.3 - 33.1 %</td>
                        <td class="p-table__cell">33.2 - 36.0 %</td>
                        <td class="p-table__cell">&ge; 36.1 %</td></td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">12</td>
                        <td class="p-table__cell">&lt; 16.4 %</td>
                        <td class="p-table__cell p-table__cell--color">16.4 - 33.5 %</td>
                        <td class="p-table__cell">33.6 - 36.3 %</td>
                        <td class="p-table__cell">&ge; 36.4 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">13</td>
                        <td class="p-table__cell">&lt; 16.4 %</td>
                        <td class="p-table__cell p-table__cell--color">16.4 - 33.8 %</td>
                        <td class="p-table__cell">33.9 - 36.5 %</td>
                        <td class="p-table__cell">&ge; 36.6 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">14</td>
                        <td class="p-table__cell">&lt; 16.3 %</td>
                        <td class="p-table__cell p-table__cell--color">16.3 - 34.0 %</td>
                        <td class="p-table__cell">34.1 - 36.7 %</td>
                        <td class="p-table__cell">&ge; 36.8 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">15</td>
                        <td class="p-table__cell">&lt; 16.1 %</td>
                        <td class="p-table__cell p-table__cell--color">16.1 - 34.2 %</td>
                        <td class="p-table__cell">34.3 - 36.9 %</td>
                        <td class="p-table__cell">&ge; 37.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">16</td>
                        <td class="p-table__cell">&lt; 15.8 %</td>
                        <td class="p-table__cell p-table__cell--color">15.8 - 34.5 %</td>
                        <td class="p-table__cell">34.6 - 37.1 %</td>
                        <td class="p-table__cell">&ge; 37.2 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">17</td>
                        <td class="p-table__cell">&lt; 15.4 %</td>
                        <td class="p-table__cell p-table__cell--color">15.4 - 34.7 %</td>
                        <td class="p-table__cell">34.8 - 37.3 %</td>
                        <td class="p-table__cell">&ge; 37.4 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">18 - 39</td>
                        <td class="p-table__cell">&lt; 21.0 %</td>
                        <td class="p-table__cell p-table__cell--color">21.0 - 32.9 %</td>
                        <td class="p-table__cell">33.0 - 38.9 %</td>
                        <td class="p-table__cell">&ge; 39.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">40 - 59</td>
                        <td class="p-table__cell">&lt; 23.0 %</td>
                        <td class="p-table__cell p-table__cell--color">23.0 - 33.9 %</td>
                        <td class="p-table__cell">34.0 - 39.9 %</td>
                        <td class="p-table__cell">&ge; 40.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">60 - 80</td>
                        <td class="p-table__cell">&lt; 24.0 %</td>
                        <td class="p-table__cell p-table__cell--color">24.0 - 35.9 %</td>
                        <td class="p-table__cell">36.0 - 41.9 %</td>
                        <td class="p-table__cell">&ge; 42.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell" rowspan="15">Male</td>
                        <td class="p-table__cell">6</td>
                        <td class="p-table__cell">&lt; 11.8 %</td>
                        <td class="p-table__cell p-table__cell--color">11.8 - 21.7 %</td>
                        <td class="p-table__cell">21.8 - 23.7 %</td>
                        <td class="p-table__cell">&ge; 23.8 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">7</td>
                        <td class="p-table__cell">&lt; 12.1 %</td>
                        <td class="p-table__cell p-table__cell--color">12.1 - 23.2 %</td>
                        <td class="p-table__cell">23.3 - 25.5 %</td>
                        <td class="p-table__cell">&ge; 25.6 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">8</td>
                        <td class="p-table__cell">&lt; 12.4 %</td>
                        <td class="p-table__cell p-table__cell--color">12.4 - 24.8 %</td>
                        <td class="p-table__cell">24.9 - 27.7 %</td>
                        <td class="p-table__cell">&ge; 27.8 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">9</td>
                        <td class="p-table__cell">&lt; 12.6 %</td>
                        <td class="p-table__cell p-table__cell--color">12.6 - 26.5 %</td>
                        <td class="p-table__cell">26.6 - 30.0 %</td>
                        <td class="p-table__cell">&ge; 30.1 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">10</td>
                        <td class="p-table__cell">&lt; 12.8 %</td>
                        <td class="p-table__cell p-table__cell--color">12.8 - 27.9 %</td>
                        <td class="p-table__cell">28.0 - 31.8 %</td>
                        <td class="p-table__cell">&ge; 31.9 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">11</td>
                        <td class="p-table__cell">&lt; 12.6 %</td>
                        <td class="p-table__cell p-table__cell--color">12.6 - 28.5 %</td>
                        <td class="p-table__cell">28.6 - 32.6 %</td>
                        <td class="p-table__cell">&ge; 32.7 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">12</td>
                        <td class="p-table__cell">&lt; 12.3 %</td>
                        <td class="p-table__cell p-table__cell--color">12.3 - 28.2 %</td>
                        <td class="p-table__cell">28.3 - 32.4 %</td>
                        <td class="p-table__cell">&ge; 32.5 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">13</td>
                        <td class="p-table__cell">&lt; 11.6 %</td>
                        <td class="p-table__cell p-table__cell--color">11.6 - 27.5 %</td>
                        <td class="p-table__cell">27.6 - 31.3 %</td>
                        <td class="p-table__cell">&ge; 31.4 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">14</td>
                        <td class="p-table__cell">&lt; 11.1 %</td>
                        <td class="p-table__cell p-table__cell--color">11.1 - 26.4 %</td>
                        <td class="p-table__cell">26.5 - 30.0 %</td>
                        <td class="p-table__cell">&ge; 30.1 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">15</td>
                        <td class="p-table__cell">&lt; 10.8 %</td>
                        <td class="p-table__cell p-table__cell--color p-table__cell--color">10.8 - 25.4 %</td>
                        <td class="p-table__cell">25.5 - 28.7 %</td>
                        <td class="p-table__cell">&ge; 28.8 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">16</td>
                        <td class="p-table__cell">&lt; 10.4 %</td>
                        <td class="p-table__cell p-table__cell--color">10.4 - 24.7 %</td>
                        <td class="p-table__cell">24.8 - 27.7 %</td>
                        <td class="p-table__cell">&ge; 27.8 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">17</td>
                        <td class="p-table__cell">&lt; 10.1 %</td>
                        <td class="p-table__cell p-table__cell--color">10.1 - 24.2 %</td>
                        <td class="p-table__cell">24.3 - 26.8 %</td>
                        <td class="p-table__cell">&ge; 26.9 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">18 - 39</td>
                        <td class="p-table__cell">&lt; 8.0 %</td>
                        <td class="p-table__cell p-table__cell--color">8.0 - 19.9 %</td>
                        <td class="p-table__cell">20.0 - 24.9 %</td>
                        <td class="p-table__cell">&ge; 25.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">40 - 59</td>
                        <td class="p-table__cell">&lt; 11.0 %</td>
                        <td class="p-table__cell p-table__cell--color">11.0 - 21.9 %</td>
                        <td class="p-table__cell">22.0 - 27.9 %</td>
                        <td class="p-table__cell">&ge; 28.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">60 - 80</td>
                        <td class="p-table__cell">&lt; 13.0 %</td>
                        <td class="p-table__cell p-table__cell--color">13.0 - 24.9 %</td>
                        <td class="p-table__cell">25.0 - 29.9 %</td>
                        <td class="p-table__cell">&ge; 30.0 %</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">
                Interpreting the Visceral Fat Level Result
              </h3>
              <div class="p-manual__table-wrap-simple p-manual__table-wrap--mt10">
                <div class="p-manual__table p-manual__table--interpreting">
                  <table class="p-table">
                    <thead class="p-table__head p-table__head--bold">
                      <tr class="p-table__row">
                        <th class="p-table__cell p-table__cell--50">Visceral Fat Level</th>
                        <th class="p-table__cell p-table__cell--50">Level Classification</th>
                      </tr>
                    </thead>
                    <tbody class="p-table__body p-table__body--text-center">
                      <tr class="p-table__row">
                        <td class="p-table__cell">1 - 9</td>
                        <td class="p-table__cell">0 (Normal)</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">10 - 14</td>
                        <td class="p-table__cell">+ (High)</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">15 - 30</td>
                        <td class="p-table__cell">++ (Very High)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <p class="p-manual__sub-text">
                Classified based on OMRON  HEALTHCARE Co., Ltd. study data.
              </p>
            </article>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">
                Interpreting the Skeletal Muscle Percentage Result
              </h3>
              <div class="p-manual__table-wrap p-manual__table-wrap--mt10">
                <div class="p-manual__table">
                  <table class="p-table">
                    <thead class="p-table__head p-table__head--bold">
                      <tr class="p-table__row">
                        <th class="p-table__cell">Gender</th>
                        <th class="p-table__cell">Age</th>
                        <th class="p-table__cell">- (Low)</th>
                        <th class="p-table__cell p-table__cell--color">0 (Normal)</th>
                        <th class="p-table__cell">+ (High)</th>
                        <th class="p-table__cell">++ (Very High)</th>
                      </tr>
                    </thead>
                    <tbody class="p-table__body p-table__body--text-center">
                      <tr class="p-table__row">
                        <td class="p-table__cell" rowspan="3">Female</td>
                        <td class="p-table__cell">18 - 39</td>
                        <td class="p-table__cell">&lt; 24.3 %</td>
                        <td class="p-table__cell p-table__cell--color">24.3 - 30.3 %</td>
                        <td class="p-table__cell">30.4 - 35.3 %</td>
                        <td class="p-table__cell">&ge; 35.4 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">40 - 59</td>
                        <td class="p-table__cell">&lt; 24.1 %</td>
                        <td class="p-table__cell p-table__cell--color">24.1 - 30.1 %</td>
                        <td class="p-table__cell">30.2 - 35.1 %</td>
                        <td class="p-table__cell">&ge; 35.2 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">60 - 80</td>
                        <td class="p-table__cell">&lt; 23.9 %</td>
                        <td class="p-table__cell p-table__cell--color">23.9 - 29.9 %</td>
                        <td class="p-table__cell">30.0 - 34.9 %</td>
                        <td class="p-table__cell">&ge; 35.0 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell" rowspan=3">Male</td>
                        <td class="p-table__cell">18 - 39</td>
                        <td class="p-table__cell">&lt; 33.3 %</td>
                        <td class="p-table__cell p-table__cell--color">33.3 - 39.3 %</td>
                        <td class="p-table__cell">39.4 - 44.0 %</td>
                        <td class="p-table__cell">&ge; 44.1 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">40 - 59</td>
                        <td class="p-table__cell">&lt; 33.1 %</td>
                        <td class="p-table__cell p-table__cell--color">33.1 - 39.1 %</td>
                        <td class="p-table__cell">39.2 - 43.8 %</td>
                        <td class="p-table__cell">&ge; 43.9 %</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">60 - 80</td>
                        <td class="p-table__cell">&lt; 32.9 %</td>
                        <td class="p-table__cell p-table__cell--color">32.9 - 38.9 %</td>
                        <td class="p-table__cell">39.0 - 43.6 %</td>
                        <td class="p-table__cell">&ge; 43.7 %</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <p class="p-manual__sub-text">
                Classified based on OMRON HEALTHCARE Co., Ltd. study data.
              </p>
            </article>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">
                Interpreting the BMI Result
              </h3>
              <div class="p-manual__table-wrap-simple p-manual__table-wrap--mt10">
                <div class="p-manual__table p-manual__table--interpreting">
                  <table class="p-table">
                    <thead class="p-table__head p-table__head--bold">
                      <tr class="p-table__row">
                        <th class="p-table__cell p-table__cell--50">BMI</th>
                        <th class="p-table__cell p-table__cell--50">BMI (Designation by the WHO)</th>
                      </tr>
                    </thead>
                    <tbody class="p-table__body p-table__body--text-center">
                      <tr class="p-table__row">
                        <td class="p-table__cell">&lt; 18.5</td>
                        <td class="p-table__cell">- (Underweight)</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">18.5 - 24.9</td>
                        <td class="p-table__cell">0 (Normal)</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">25 - 29.9</td>
                        <td class="p-table__cell">+ (Overweight)</td>
                      </tr>
                      <tr class="p-table__row">
                        <td class="p-table__cell">&ge; 30</td>
                        <td class="p-table__cell">++ (Obese)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <p class="p-manual__sub-text">
                Source: Values for obesity judgment proposed by WHO, the World Health Organization.
              </p>
            </article>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./information-on-body-composition-information-on-body-composition.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--information">
            <span class="c-btn__text">
              <%= json.bodyComposition.informationOnBodyComposition.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>