<%- include('./common/_head', { pageKey: 'maintenance' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'maintenance' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'maintenance-storage' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.maintenance.storage.title %>
          </h2>
          <div class="p-manual__wrap">
            <ul class="p-manual__instructions">
              <li class="p-manual__instruction">
                Store the display unit in the main unit as shown.
              </li>
              <li class="p-manual__instruction">
                When storing the display unit, be careful not to crease the cord.
                <figure class="p-manual__image p-manual__image--storage">
                  <img src="./assets/img/common/storage01.webp" alt="storing the display unit">
                </figure>
              </li>
            </ul>
            <h3 class="p-manual__sub-title">
              Do not store the unit in the following locations. It may cause the unit to malfunction.
            </h3>
            <ul class="p-manual__instructions">
              <li class="p-manual__instruction">
                Places where water may get into the unit.
              </li>
              <li class="p-manual__instruction">
                Places with high temperatures, high humidity, direct sunlight, dust, or places with high salinity.
              </li>
              <li class="p-manual__instruction">
                Places with sloping surfaces, vibrations, or shocks.
              </li>
              <li class="p-manual__instruction">
                Places where chemicals are stored or where corrosive gas is present.
              </li>
              <li class="p-manual__instruction">
                Do not store the unit in the following conditions.
              </li>
            </ul>
            <p class="p-manual__sub-text p-manual__sub-text--mt0">
              The readings displayed may differ from the actual results. Implement the “0 kg calibration” before taking a measurement. <br>Refer to <a href="./how-to-use-for-accurate-measurement.html#implement-the-0-kg-calibration" class="p-manual__link">“Implement the “0 kg Calibration”</a>.  
            </p>
            <ul class="p-manual__items p-manual__items--storage">
              <li class="p-manual__item">
                The unit is leaning against a wall or other objects
                <figure class="p-manual__image p-manual__image--unit-placed">
                  <img src="./assets/img/common/unit-placed-in-conditions01.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__item">
                The unit is placed upside down
                <figure class="p-manual__image p-manual__image--unit-placed">
                  <img src="./assets/img/common/unit-placed-in-conditions02.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__item">
                The unit is placed on an object.
                <figure class="p-manual__image p-manual__image--unit-placed">
                  <img src="./assets/img/common/unit-placed-in-conditions03.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__item">
                An object is placed on the unit
                <figure class="p-manual__image p-manual__image--unit-placed">
                  <img src="./assets/img/common/unit-placed-in-conditions04.webp" alt="">
                </figure>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./maintenance.html" class="p-pagination__link c-btn">
            <span class="c-btn__text">
              Back to <%= json.maintenance.title %>
            </span>
          </a>
          <a href="./maintenance-disposal.html" class="p-pagination__link c-btn c-btn--next c-btn--next--disposal">
            <span class="c-btn__text">
              <%= json.maintenance.disposal.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>