<%- include('./common/_head', { pageKey: 'otherSettings' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'otherSettings' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'other-settings-selecting-the-personal-number-manually-before-measurement' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.otherSettings.selectingThePersonalNumberManuallyBeforeMeasurement.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              If your personal number is often not displayed on the unit display when you take a measurement, follow the procedure below to select your personal number and take a measurement.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Press the power button to turn on the power.</h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The weight measurement display will appear.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen01-initial-weight.webp" alt="">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> on the unit to select your personal number.
                </h3>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen09-personal-number.webp" alt="personal number">
                </figure>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> on the unit to confirm your personal number.
                </h3>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen10-confirm-personal-number.webp" alt="confirm personal number">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    The weight measurement display appears.
                  </li>
                </ul>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Taking a measurement.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Refer to <a href="./how-to-use-taking-a-measurement.html" class="p-manual__link">“Taking a Measurement”</a>
                  </li>
                </ul>
                <!-- <figure class="p-manual__image p-manual__image--takeout">
                  <img src="./assets/img/common/initialsettings-illust2.webp" alt="Body fat scale with handles being held">
                </figure> -->
              </li>
              <!-- <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Place your feet on the foot electrodes with your weight evenly distributed.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    After the unit makes a “beeping” sound, the display will show your weight.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--body-fat-scale">
                  <img src="./assets/img/common/initialsettings-illust6.webp" alt="Person using a scale with hand grips">
                </figure>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen11-weight-display.webp" alt="weight display">
                </figure>
              </li> -->
              <!-- <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Extend your arms straight at a 90° angle to your body.
                </h3>
                <figure class="p-manual__image p-manual__image--body-angle">
                  <img src="./assets/img/common/initialsettings-illust4.webp" alt="measurement pose">
                </figure>
              </li> -->
              <!-- <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Check the measurement results.
                </h3>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    After the unit makes a “beeping” sound, the display on the unit will repeatedly show the measurement results in sequence. (The display will change automatically.)
                  </li>
                  <li class="p-manual__step-list-item">
                    You can set all indicators to be displayed in <a href="./other-settings-user-settings-display-settings-deleting-data.html#display-settings" class="p-manual__link">"Display settings"</a>.
                  </li>
                  <li class="p-manual__step-list-item">The unit will automatically turn off if no button is touched: after 16 seconds for 4 indicators, and after 72 seconds for 18 indicators. </li>
                  <li class="p-manual__step-list-item">Once the <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></div> button is touched, the display will change, and the unit will automatically turn off after approximately 3 minutes.</li>
                  <li class="p-manual__step-list-item">
                    The readings are automatically transferred to your smartphone. Refer to <a href="./how-to-use-automatic-transfer-of-readings.html" class="p-manual__link">“Automatic Transfer of Readings”</a>.
                  </li>
                  <li class="p-manual__step-list-item">
                    During transfer, the Bluetooth symbol (<div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-bluetooth2.webp" class="p-manual__icon" alt="bluetooth symbol"></div>) on the display will light up.
                  </li>
                </ul>
              </li> -->
            </ol>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./other-settings-measuring-without-recording.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              <%= json.otherSettings.measuringWithoutRecording.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>