<%- include('./common/_head', { pageKey: 'other-settings' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'other-settings' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'other-settings-replacing-the-batteries' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.otherSettings.replacingTheBatteries.title %>
          </h2>
          <div class="p-manual__wrap">
            <article class="p-manual__article p-manual__article--mt0">
              <h3 class="p-manual__sub-title">
                When to Replace the Batteries
              </h3>
              <p class="p-manual__sub-text">
                When the <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-emptybattery.webp" class="p-manual__icon" alt="empty battery symbol"></span> and “A1” are displayed the battery is depleted.<br>
                Replace all four at the same time with new AA alkaline batteries of the same brand.
              </p>
              <figure class="p-manual__image p-manual__image--weight-display">
                <img src="./assets/img/common/replace-the-batteries01.webp" alt="replace batteries">
              </figure>
            </article>
            <article class="p-manual__article">
              <h3 class="p-manual__sub-title">
                Replace the Batteries
              </h3>
              <ol class="p-manual__steps p-manual__steps--mt10">
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Remove the depleted batteries from the unit.
                  </h4>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Insert new batteries.
                  </h4>
                  <ul class="p-manual__step-list">
                    <li class="p-manual__step-list-item">
                      Refer to <a href="./how-to-use-installing-batteries.html" class="p-manual__link">“Installing Batteries”</a>.
                    </li>
                  </ul>
                </li>
                <li class="p-manual__step">
                  <h4 class="p-manual__step-title">
                    Perform the initial settings.
                  </h4>
                  <ul class="p-manual__items p-manual__items--mt10">
                    <li class="p-manual__item p-manual__item--square">
                      <p class="p-manual__item-title">
                        If you are using the “OMRON connect” app<br>Touch and hold <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-bluetooth.webp" class="p-manual__icon" alt="bluetooth icon"></span> on the unit.
                      </p>
                      <ul class="p-manual__instructions">
                        <li class="p-manual__instruction">
                          Communication with the smartphone will begin.<br> Initial setting information (date and time) will be transferred to the unit.
                        </li>
                        <li class="p-manual__instruction">
                          The following will be displayed on the unit’s display:<br>When the transfer is complete, the unit will make a “beeping” sound. The unit will automatically turn off after 10 seconds.
                        </li>
                      </ul>
                      <figure class="p-manual__image p-manual__image--replace-batteries">
                        <img src="./assets/img/common/replace-the-batteries02.webp" alt="">
                      </figure>
                    </li>
                    <li class="p-manual__item p-manual__item--square">
                      <p class="p-manual__item-title">
                        If you are using the “OMRON connect” app<br>
                        Perform the initial settings (date and time) on the unit. Refer to <a href="./other-settings-performing-initial-settings-on-the-unit.html" class="p-manual__link">“Performing Initial Settings on the Unit”</a>.
                      </p>
                    </li>
                  </ul>
                  <ul class="p-manual__instructions p-manual__instructions--mt40">
                    <li class="p-manual__instruction">
                      Do not use manganese batteries or rechargeable batteries as they may significantly reduce the number of measurements or cause malfunction.
                    </li>
                    <li class="p-manual__instruction">
                      Dispose of the replaced batteries according to the guidelines of your local municipality.
                    </li>
                    <li class="p-manual__instruction">
                      When the battery is low, the <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-battery.webp" class="p-manual__icon" alt="battery symbol"></span> will flash. Prepare new batteries.
                    </li>
                    <li class="p-manual__instruction">
                      Do not replace the battery while your readings are being transferred to your smartphone.<br>This may result in the incorrect operation of your unit and failure to transfer your readings.
                    </li>
                  </ul>
                </li>
              </ol>
            </article>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./other-settings-user-settings-display-settings-deleting-data.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--storage">
            <span class="c-btn__text">
              <%= json.otherSettings.userSettingsDisplaySettingsDeletingData.title %>
            </span>
          </a>
          <a href="./other-settings-restoring-the-unit-to-factory-settings.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              <%= json.otherSettings.restoringTheUnitToFactorySettings.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>