<%- include('./common/_head', { pageKey: 'settings' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'settings' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'settings-performing-initial-settings-on-the-unit' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.settings.performingInitialSettingsOnTheUnit.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              You can configure the initial settings on the main unit immediately after purchase or after replacing its batteries.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h4 class="p-manual__step-title">Press the power button to turn on the power.</h4>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/error-message10.webp" alt="initial weight screen">
                </figure>
              </li>
              <li class="p-manual__step">
                <h4 class="p-manual__step-title">Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="confirm icon"></span>.</h4>
              </li>
              <li class="p-manual__step">
                <h4 class="p-manual__step-title">Set the measurement unit, date, and time.</h4>
                <ul class="p-manual__personal-data-items">
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/setting-screen1.webp" alt="setting screen1">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the measurement unit
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span>  to select kg or lb or st.<br>This will also automatically change cm and in.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the measurement unit.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/setting-screen2.webp" alt="setting screen2">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the year
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the year.
                        <br>Each time you touch the button, the value will change in increments of one year, and if you continue to touch the button, the value will change in increments of 10 years.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the year.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/setting-screen4.webp" alt="setting screen3">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the month
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the month.<br>Each time you touch the button, the value will change in increments of one month, and if you continue to touch the button, the value will change in increments of one month (fast forward).
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the month.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/setting-screen3.webp" alt="setting screen4">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the day
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the day.<br>Each time you touch the button, the value will change in increments of one day, and if you continue to touch the button, the value will change in increments of 10 days.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the day.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/setting-screen5.webp" alt="setting screen5">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the hour
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the hour.<br>Each time you touch the button, the value will change in increments of one hour, and if you continue to touch the button, the value will change in increments of 10 hours.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the hour.
                      </p>
                    </div>
                  </li>
                  <li class="p-manual__personal-data-item p-birth-date-card">
                    <figure class="p-birth-date-card__image">
                      <img src="./assets/img/common/setting-screen6.webp" alt="setting screen6">
                    </figure>
                    <div class="p-birth-date-card__text-block">
                      <p class="p-birth-date-card__title">
                        Set the minute
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></span> to change the minute.<br>Each time you touch the button, the value will change in increments of one minute, and if you continue to touch the button, the value will change in increments of 10 minutes.
                      </p>
                      <p class="p-birth-date-card__text">
                        Touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-confirm.webp" class="p-manual__icon" alt="ok symbol"></span> to set the minute.
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    Once the settings are complete, the configured information will be displayed, then the power will automatically turn off.
                  </li>
                </ul>
                <figure class="p-manual__image p-manual__image--weight-display">
                  <img src="./assets/img/common/screen46-confirm-settings.webp" alt="confirm settings">
                </figure>
                <ul class="p-manual__step-list">
                  <li class="p-manual__step-list-item">
                    If you make a mistake while setting the numbers, turn off the power, then start over from step 1.
                  </li>
                  <li class="p-manual__step-list-item">
                    To change the values after setting the date and time, follow the steps below.
                    <ol class="p-manual__procedures">
                      <li class="p-manual__procedure">
                        Remove the batteries
                      </li>
                      <li class="p-manual__procedure">
                        Wait for more than 20 seconds, then insert the batteries again
                      </li>
                      <li class="p-manual__procedure">
                        Repeat from step 1
                      </li>
                    </ol>
                  </li>
                  <li class="p-manual__step-list-item">
                    If you do not perform any operation for more than 3 minutes during the setup, the unit will automatically turn off. Start over from step 1.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./settings-restoring-the-unit-to-factory-settings.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--storage">
            <span class="c-btn__text">
              <%= json.settings.restoringTheUnitToFactorySettings.title %>
            </span>
          </a>
          <a href="./settings-registering-personal-data-on-the-unit.html" class="p-pagination__link c-btn c-btn--next c-btn--next--storage">
            <span class="c-btn__text">
              <%= json.settings.registeringPersonalDataOnTheUnit.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>