<%- include('./common/_head', { pageKey: 'specifications' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'specifications' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'specifications-specifications' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--information">
            <%= json.specifications.specifications.title %>
          </h2>
          <div class="p-manual__wrap p-specifications">
            <dl class="p-specifications__items">
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Product description</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">Body Composition Monitor</p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Model (code)</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__head">VIVA 360 + (HBF-H132T1-EBK)</p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Display*</dt>
                <dd class="p-specifications__description">
                  <ul class="p-specifications__list-items">
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">
                        Body weight
                      </p>
                      <p class="p-specifications__text">
                        3.0 to 150.0 kg with an increment of 0.1 kg<br>
                        (6.6 to 330.0 lb with an increment of 0.2 lb)<br>
                        (0 st 6.6 lb to 23 st 8.0 lb with an increment of 0.2 lb)
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">
                        BMI
                      </p>
                      <p class="p-specifications__text">
                        7.0 to 90.0 with an increment of 0.1
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">BMI classification</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) / ++ (Very High) 4 levels
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Body fat percentage</p>
                      <p class="p-specifications__text">
                        Measuring range：5.0 to 60.0 %  with an increment of 0.1 %<br>
                        Age range：6 to 80 years old<br>
                        *Values differ between Athlete and Normal mode (algorithms).
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Body fat percentage classification</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) / ++ (Very High) 4 levels<br>
                        Age range：6 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Body fat mass</p>
                      <p class="p-specifications__text">
                        Measuring range：0.2 to 90.0 kg with an increment of 0.1 kg<br>
                        (0.4 to 198.0 lb with an increment of 0.2 lb)<br>
                        (0 st 0.4 lb to 14 st 2.0 lb with an increment of 0.2 lb)<br>
                        Age range：6 to 80 years old<br>
                        *Values differ between Athlete and Normal mode (algorithms).
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Skeletal muscle percentage (Whole body)</p>
                      <p class="p-specifications__text">
                        Measuring range：5.0 to 50.0 % with an increment of 0.1 %<br>
                        Age range：6 to 80 years old<br>
                        *Values differ between Athlete and Normal mode (algorithms).
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Skeletal muscle percentage classification (Whole body)</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) / ++ (Very High) 4 levels<br>
                        Age range：18 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Skeletal muscle mass  (Whole body)</p>
                      <p class="p-specifications__text">
                        Measuring range：0.2 to 75.0 kg with an increment of 0.1 kg<br>
                        (0.4 to 165.0 lb with an increment of 0.2 lb)<br>
                        (0 st 0.4 lb to 22 st 6.0 lb with an increment of 0.2 lb)<br>
                        Age range：6 to 80 years old<br>
                        *Values differ between Athlete and Normal mode (algorithms).
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Resting metabolism</p>
                      <p class="p-specifications__text">
                        Measuring range：385 to 3999 kcal with an increment of 1 kcal<br>
Age range：6 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Visceral fat level</p>
                      <p class="p-specifications__text">
                        Measuring range：30 levels with an increment of 1 level<br>
                        Age range：18 to 80 years old<br>
                        *Values differ between Athlete and Normal mode (algorithms).
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Visceral fat level classification</p>
                      <p class="p-specifications__text">
                        0 (Normal) / + (High) / ++ (Very High) 3 levels<br>
                        Age range：18 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Skeletal muscle percentage classification (Segmental)</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) / ++ (Very High) 4 levels<br>
                        Age range：18 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Subcutaneous fat classification（Whole body）</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) / ++ (Very High) 4 levels<br>
                        Age range：18 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Subcutaneous fat classification（Segmental）</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) / ++ (Very High) 4 levels<br>
                        Age range：18 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Body water percentage</p>
                      <p class="p-specifications__text">
                        Measuring range：20.0 to 80.0 % with an increment of 0.1 %<br>
                        Age range：6 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Body water percentage classification</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) 3 levels<br>
                        Age range：6 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Bone mass</p>
                      <p class="p-specifications__text">
                        Measuring range：0.5 to 8.0 kg with an increment of 0.1 kg<br>
                        (1.10 to 17.64 lb with an increment of 0.2 lb)<br>
                        (0 st 1.10 lb to 1 st 3.64 lb with an increment of 0.2 lb)<br>
                        Age range：6 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Bone mass classification</p>
                      <p class="p-specifications__text">
                        - (Low) / 0 (Normal) / + (High) 3 levels<br>
                        Age range：6 to 80 years old
                      </p>
                    </li>
                    <li class="p-specifications__list-item">
                      <p class="p-specifications__head">Fat free mass</p>
                      <p class="p-specifications__text">
                        Measuring range：1.2 to 142.5 kg with an increment of 0.1 kg<br>
                        (2.8 to 314.0 lb with an increment of 0.2 lb)<br>
                        (0 st 2.8 lb to 9 st 6.3 lb with an increment of 0.2 lb)<br>
                        Age range：6 to 80 years old<br>
                        *Values differ between Athlete and Normal mode (algorithms).
                      </p>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Memory</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    30 readings (Total 120 readings for 4 people)
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Transmission protocol</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__head">
                    Bluetooth® <span class="p-specifications__sub-head">low energy technology</span>
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Wireless communication</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    Frequency range : 2.4 GHz (2400 - 2483.5 MHz)<br>
                    Modulation : GFSK<br>
                    Effective radiated power : < 20 dBm
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Weight accuracy</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    3.0 kg to 40.0 kg : ±0.4 kg<br>
                    (6.6 lb to 88.2 lb : ±0.88 lb)<br>
                    (0 st 6.6 lb to 6 st 4.2 lb : ±0.88 lb)<br>
                    40.0 kg to 150.0 kg : ±1 %<br>
                    (88.2 lb to 330.0 lb : ±1 %)<br>
                    (6 st 4.2 lb to 23 st 8.0 lb : ±1 %)
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Durable period</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">5 years or the time when reaching 7300 times of use.</p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">IP Classification</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    IP21*<br>
                    *IP classification is degrees of protection provided by IEC 60529.<br>
                    This unit is protected against solid foreign objects of diameter 12.5 mm such as a finger and greater. This unit is protected against the ingress of vertically falling water drops.
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Rating</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">DC6 V 0.6 W</p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Power supply</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">4 AA alkaline batteries (LR6)</p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Battery life</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    Approximately 6 months (When using AA alkaline batteries with four measurements per day under OMRON's test conditions.)
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Operating conditions</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    +5 to +40 °C, 30 % to 85 %RH (non-condensing), 860 hPa - 1060 hPa
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Storage / transport conditions</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    -20 to +60 °C, 10 % to 95 %RH (non-condensing)
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Weight</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    Approximately 2.2 kg (including batteries)
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">External dimensions</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    Approx. 304 (W) x 53.5 (H) x 332 (D) mm
                  </p>
                </dd>
              </div>
              <div class="p-specifications__item">
                <dt class="p-specifications__term">Contents</dt>
                <dd class="p-specifications__description">
                  <p class="p-specifications__text">
                    Main unit, 4 AA alkaline batteries (LR6), instruction manual
                  </p>
                </dd>
              </div>
            </dl>
            <div class="p-specifications__note">
              <p class="p-specifications__note-text">
                * All indicators other than weight (kg) are computed by calculation. All calculated values, except BMI, are estimated using our proprietary formula.
              </p>
              <p class="p-specifications__note-text">
                5 years old or less: Only Body weight and BMI can be measured.<br>
                17 years old or less: Visceral fat level, skeletal muscle percentage classification and subcutaneous fat classification cannot be measured.<br>
                Over 81 years old: Body composition is for reference value.
              </p>
              <p class="p-specifications__note-text">
                •Subject to technical modification without prior notice.
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./specifications-correct-disposal-of-this-product.html" class="p-pagination__link c-btn c-btn--next c-btn--next--information">
            <span class="c-btn__text">
              <%= json.specifications.correctDisposalOfThisProduct.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>