<%- include('./common/_head', { pageKey: 'errorMessagesAndTroubleshooting' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'errorMessagesAndTroubleshooting' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'error-messages-and-troubleshooting-troubleshooting' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title p-page-title--help">
            <%= json.errorMessagesAndTroubleshooting.troubleshooting.title %>
          </h2>
          <div class="p-manual__wrap">
            <div class="p-manual__table-wrap">
              <div class="p-manual__table p-manual__table--display">
                <table class="p-table">
                  <thead class="p-table__head">
                    <tr class="p-table__row">
                      <th class="p-table__cell p-table__cell--display">Problem</th>
                      <th class="p-table__cell p-table__cell--cause-solution">Causes and solutions</th>
                    </tr>
                  </thead>
                  <tbody class="p-table__body">
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        Nothing is displayed when the unit is turned on.
                      </td>
                      <td class="p-table__cell" rowspan="2">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              No batteries are installed.
                            </h3>
                            <p class="p-table__cell-description">
                              Install the batteries.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              Battery <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-plus-minus.svg" class="p-manual__icon" alt="plus minus icon"></span> polarities are installed in the wrong direction.
                            </h3>
                            <p class="p-table__cell-description">
                              Install the batteries in the correct direction.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              The batteries are depleted.
                            </h3>
                            <p class="p-table__cell-description">
                              Replace all four at the same time with new AA alkaline batteries of the same brand.
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        Even if you step on the unit, nothing is displayed.
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        The “OMRON connect” app only displays weight and BMI.
                      </td>
                      <td class="p-table__cell" rowspan="2">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              The person has not yet reached the age for measurement.
                            </h3>
                            <p class="p-table__cell-description">
                              For children who are 5 years old or younger, only weight and BMI values are displayed. If the target person is 17 years old or younger, the visceral fat level, skeletal muscle percentage classification and subcutaneous fat classification will not be displayed.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              The date of birth or date setting is incorrect.
                            </h3>
                            <p class="p-table__cell-description">
                              Open the “OMRON connect” app and touch <span class="p-manual__icon-wrap"><img src="./assets/img/common/icon-bluetooth.webp" class="p-manual__icon" alt="bluetooth icon"></span> on the unit to communicate with your smartphone.
                              <p class="p-table__cell-description">To change your personal data on the unit, refer to <a href="./other-settings-changing-or-deleting-your-personal-data.html" class="p-manual__link">“Changing or Deleting Your Personal Data”</a>.</p>
                              <p class="p-table__cell-description">If the date is incorrect, remove the batteries, wait for about 20 seconds, then install them again and perform the initial settings.</p>
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        The “OMRON connect” app does not display the visceral fat level, skeletal muscle percentage classification and subcutaneous fat classification.
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        Some readings are displayed as “----”.
                      </td>
                      <td class="p-table__cell">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              The registered values, weight, and body composition values were outside the measurable range.
                            </h3>
                            <p class="p-table__cell-description">
                              Check if your personal data (date of birth, gender, height, mode) set in the “OMRON connect” app is correct.
                            </p>
                            <p class="p-table__cell-description">
                              Even if the date of birth, gender, height, and mode are correct, “----” will be displayed if they are out of the display range or supported age range. Refer to <a href="./specifications.html" class="p-manual__link">“Specifications”</a>.
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        The correct personal number is not identified when you step on the unit.
                      </td>
                      <td class="p-table__cell">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              Your body weight has changed significantly since the last measurement.<br>People with similar builds are registered.<br>Another person’s readings were recorded.
                            </h3>
                            <p class="p-table__cell-description">
                              Select your personal number before taking measurements. Refer to <a href="./other-settings-selecting-the-personal-number-manually-before-measurement.html" class="p-manual__link">“Selecting the Personal Number Manually Before Measurement”</a>.
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        Only weight, body fat percentage, skeletal muscle percentage, and BMI are measured.
                      </td>
                      <td class="p-table__cell">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <p class="p-table__cell-description">
                              You can only check your weight, body fat percentage, skeletal muscle percentage and BMI on the unit. You can check indicators other than weight, body fat percentage, skeletal muscle percentage and BMI on the “OMRON connect” app. Install the “OMRON connect” app.
                            </p>
                            <p class="p-table__cell-description">
                              You can change the display indicators in "Display settings".
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        High weight and body composition measurements
                      </td>
                      <td class="p-table__cell" rowspan="3">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              Your posture is wrong during measurement.
                            </h3>
                            <p class="p-table__cell-description">
                              Take measurements with a correct posture. Refer to <a href="./how-to-use-for-accurate-measurement.html#check-the-correct-measurement-method" class="p-manual__link">“Check the Correct Measurement Method”</a>.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              Measurements are taken on soft surfaces such as carpets or on uneven floor surfaces.
                            </h3>
                            <p class="p-table__cell-description">
                              Measure on a hard, flat surface. Refer to <a href="./how-to-use-for-accurate-measurement.html#install-the-unit" class="p-manual__link">“Install the Unit”</a>.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              The soles of your feet and body are cold, impairing blood circulation.
                            </h3>
                            <p class="p-table__cell-description">
                              Warm up your body to get blood circulation back to normal before taking a measurement.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              The soles of your feet are dry.
                            </h3>
                            <p class="p-table__cell-description">
                              Slightly dampen the soles of your feet with a wet towel and then measure.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              The “0 kg calibration” is not implemented correctly.
                            </h3>
                            <p class="p-table__cell-description">
                              Implement the “0 kg calibration”. Refer to <a href="./how-to-use-for-accurate-measurement.html#implement-the-0-kg-calibration" class="p-manual__link">“Implement the “0 kg Calibration”</a>.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              Your date of birth, gender, height, or mode is not set correctly.
                            </h3>
                            <p class="p-table__cell-description">
                              Check if your personal data set in the “OMRON connect” app is correct.
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        Low measured values
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        The values are extremely different for each measurement.
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        None of the touch buttons respond.
                      </td>
                      <td class="p-table__cell">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              You touched a button when you stepped on the unit.
                            </h3>
                            <p class="p-table__cell-description">
                              Do not operate the touch buttons while standing on the unit.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              You touched two or more buttons simultaneously.
                            </h3>
                            <p class="p-table__cell-description">
                              Touch one button at a time.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              Your fingertips are dry.
                            </h3>
                            <p class="p-table__cell-description">
                              Slightly dampen your fingertips with a wet towel before operating the touch buttons.
                            </p>
                          </li>
                          <li class="p-table__cell-item">
                            <h3 class="p-table__cell-title p-table__cell-title--fz12">
                              No batteries are installed.
                            </h3>
                            <p class="p-table__cell-description">
                              Install the batteries. Refer to <a href="./how-to-use-installing-batteries.html" class="p-manual__link">“Installing Batteries”</a>.
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr class="p-table__row">
                      <td class="p-table__cell">
                        Cannot transfer data to your smartphone.
                      </td>
                      <td class="p-table__cell">
                        <ul class="p-table__cell-items">
                          <li class="p-table__cell-item">
                            <p class="p-table__cell-description">
                              Refer to “Help” section in the “OMRON connect” app.
                            </p>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ul class="p-manual__items p-manual__items--gap0">
              <li class="p-manual__item">
                Rarely, an error could occur because of a person’s physical constitution, making measurement impossible.
              </li>
              <li class="p-manual__item">
                All readings will be deleted if this product malfunctions or is repaired.
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./error-messages.html" class="p-pagination__link c-btn c-btn--previous c-btn--previous--error">
            <span class="c-btn__text">
              <%= json.errorMessagesAndTroubleshooting.errorMessages.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>