<%- include('./common/_head', { pageKey: 'calibration' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'calibration' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'calibration-transferring-the-readings-later' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-manual">
          <h2 class="p-manual__title p-page-title">
            <%= json.calibration.transferringTheReadingsLater.title %>
          </h2>
          <div class="p-manual__wrap">
            <p class="p-manual__lead">
              You can manually transfer the readings saved in the unit’s memory to the smartphone.
            </p>
            <ol class="p-manual__steps">
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Open the “OMRON connect” app.</h3>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">
                  Touch <div class="p-manual__icon-wrap"><img src="./assets/img/common/icon-navigation.webp" class="p-manual__icon" alt="navigation icon"></div> on the unit.
                </h3>
              </li>
              <li class="p-manual__step">
                <h3 class="p-manual__step-title">Check that the readings have been transferred using the “OMRON connect” app.</h3>
              </li>
            </ol>
          </div>
        </section>
      </div>
      <div class="p-main__pagination">
        <div class="p-pagination">
          <a href="./calibration.html" class="p-pagination__link c-btn">
            <span class="p-pagination__link-text">
              Back to <%= json.calibration.title %>
            </span>
          </a>
          <a href="./calibration-measuring-without-recording.html" class="p-pagination__link c-btn c-btn--next">
            <span class="p-pagination__link-text">
              <%= json.calibration.measuringWithoutRecording.title %>
            </span>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>