<%- include('./common/_head', { pageKey: 'safety' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'safety' }) %>
  
<!-- User Guide Section -->
<%- include('./project/_p-user-guide-header') %>

<!-- Main Content Area -->
<div class="p-content-area">
  <div class="p-content-area__inner l-container">
    <!-- Side Navigation -->
    <div class="p-content-area__side-nav">
      <%- include('./project/_p-side-nav', { currentPage: 'safety' }) %>
    </div>
    <!-- Main Content -->
    <main class="p-main">
      <div class="p-main__control">
        <%- include('./project/_p-control') %>
      </div>
      <div class="p-main__content">
        <section class="p-safety">
          <h2 class="p-safety__title p-page-title">
            <%= json.safety.title %>
          </h2>
        </section>
      </div>
    </main>
  </div>
</div>
  
  <%- include('./common/_footer') %>
</body>
</html>